<app-foldable-card [folded]="true" [lazy]="true">
  <div header>
    <h2 class="atmos-item-unlock-calc-sub__title">
      <mat-icon>star</mat-icon> Add wishlist items
    </h2>
  </div>
  <p class="atmos-paragraph">
    Select an item from your wishlist to add it to the calculator. Only items you don't already have are displayed below.
  </p>
  @if (items.length) {
    <div class="atmos-item-unlock-calc-sub__buttons">
      <button type="button" class="atmos-btn atmos-btn--sm" (click)="addAll($event)">
        <mat-icon>playlist_add</mat-icon> Add all
      </button>
    </div>
    <div class="atmos-item-unlock-calc-sub__grid">
      @for (item of items; track item.guid) {
        <div class="atmos-item-unlock-calc-sub__icon"
          [skyTooltip]="item.name"
          (click)="onItemSelected($event, item)">
          <app-item-icon [item]="item" [opaque]="true" [subIcons]="SUBICONS_ALL"></app-item-icon>
        </div>
      }
    </div>
  } @else {
    <p class="atmos-paragraph">Your wishlist is empty, or you already own everything on it.</p>
  }
</app-foldable-card>
