<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Elusive Spirits</h1>
  </div>
  <div class="sky-card-body">
    <div class="container">
      <p>On this page you can find the most elusive season spirits. The spirits that have been missing for the longest time are shown at the top.</p>
      <p>Please keep in mind that traveling spirit visits are mostly random, so use this data at your own discretion.</p>
      <p>
        A graph version of this data is available on the <a [routerLink]="'/graph/spirit'" class="text-link">Graphs - Spirits</a> page.
      </p>
    </div>
  </div>
</div>

<div class="mt">
  <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" [theme]="theme" [getRowHeight]="getRowHeight" [suppressDragLeaveHidesColumns]="true" (gridReady)="onGridReady($event)" />
</div>
