<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">What's new</h1>
  </div>
  <div class="sky-card-body">
    <div class="container">
      <p>
        On this page you can see what new features have been added to the Sky Planner website.<br/>
        If you want to see what's new and upcoming in Sky, consider checking out the fantastic <a href="https://skydreamers.notion.site/Sky-Event-Calendar-FM-ec6e6134924048859b2a8410b0a8b20d">Sky Event Calendar | FM</a> website by AL!
      </p>
    </div>
  </div>
</div>

<div class="grid grid-1 mt">
  <app-card [foldable]="true" [folded]="false">
    <div header>
      <h2 class="h3 mb-0">October 2024</h2>
    </div>
    <div>
      <div class="container">
        <ul class="m-0">
          <li>A daily quest card is now available on the dashboard between seasons.</li>
          <li>Item icon loading has been optimized, which should speed up loading pages such as <a [routerLink]="'/item'">Items</a> and <a [routerLink]="'/outfit-request/request'">Outfit Request</a>. <a class="c-accent" href="https://github.com/Silverfeelin/SkyGame-Planner/issues/154">(#154)</a></li>
          <li>The Realm filters on the <a routerLink="/item">Items</a> page now only targets items from Regular and Elder Spirits. <a class="c-accent" href="https://github.com/Silverfeelin/SkyGame-Planner/issues/185">(#185)</a></li>
          <li>Added a button to add +1 event currency / season candles to the calculators.</li>
          <li>Added button to quickly adjust currency to the <a routerLink="/currency">Currency</a> page.</li>
          <li>
            The <a routerLink="/realm">Realms</a> and individual Realm pages offer quick access to the realm's areas.<br/>
            <span class="c-accent">I was going to add a picture of every area.. but the camera is broken on Steam 😭</span>
          </li>
          <li>
            The Shard indicator on the dashboard clock will now also be visible when a shard is going to land today.<br/>
            For more detailed information, you can always click on the shard icon to visit the <a class="text-link" href="https://sky-shards.pages.dev/" target="_blank">Sky Shards</a> website by Plutoy.
          </li>
          <li>You can now share any Spirit Tree as an image.</li>
          <li>Site load speed improved between frequent visits when using Dropbox.</li>
          <li>Added a <a routerLink="/spirit-tree/editor">Spirit Tree Editor</a> to make your own spirit trees.</li>
          <li>The new <a routerLink="/event/history">Events - History</a> page shows a full list of the events throughout the years.</li>
        </ul>
      </div>
    </div>
  </app-card>

  <app-card [foldable]="true" [folded]="true">
    <div header>
      <h2 class="h3 mb-0">September 2024</h2>
    </div>
    <div>
      <div class="container">
        <ul class="m-0">
          <li>The item list has received <i>a lot</i> of new filters.</li>
          <li>The dashboard shows a shard icon next to the Sky time whenever a shard has landed. Clicking on it will open the <a class="text-link" href="https://sky-shards.pages.dev/">Sky Shards</a> website by Plutoy.</li>
          <li>A link to the <a class="text-link" href="https://skydreamers.notion.site/Sky-Event-Calendar-FM-ec6e6134924048859b2a8410b0a8b20d">Sky Event Calendar | FM</a> website has been added to seasons and events.</li>
          <li>The <a class="text-link" [routerLink]="'/item/unlock-calculator'">Unlock cost calculator</a> allows you to calculate how many candles you need to unlock items of your choosing.</li>
          <li>Various new spirit graphs can be found on the <a class="text-link" [routerLink]="'/graph/spirit'">Graphs - Spirits</a> page.</li>
          <li>You can now indicate you own a season pass or an in-app purchase as a gift. The prices will in turn be excluded from the Currency page.</li>
          <li>The website theme is now truly random when you choose 'Surprise'.</li>
          <li>Launched a <a class="text-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdvoqNzdBWXuUo2C4Qmu4P6FoP2jBMSo_uvdPrNGSBj2XM-kg/viewform?usp=sf_link">survey</a> to collect feedback.</li>
          <li>This page! Any changes before September have not been listed.</li>
          <li>You can now create and manage item collections on the <a class="text-link" [routerLink]="'/item/collection'">Items - Collections</a> page.</li>
          <li>The <a class="text-link" [routerLink]="'/shop/nesting'">Nesting Workshop</a> page now lists props in their store rotations and highlights the current rotation.</li>
        </ul>
      </div>
    </div>
  </app-card>
</div>
