.map-container {
  position: relative;
}

.map-container .map {
  height: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
}

:host ::ng-deep {
  .leaflet-popup-content-wrapper {
    opacity: 0.7;
  }
}
