<div class="card container">
  <h1 class="h2 mb-0">{{ realm.name }}</h1>
</div>

<!-- Spirits -->
<div class="card container container-scroll-x mt-2">
  <h2 class="h3">Spirits</h2>
  <div class="container-flex">
    <!-- Spirit trees -->
    <ng-container *ngIf="spirits">
      <ng-container *ngFor="let spirit of spirits;">
        <div class="tree-wrapper" *ngIf="spirit.tree">
          <app-spirit-tree [tree]="spirit.tree" [name]="spirit.name">
            <!-- Link to spirit -->
            <div name>
              <a [routerLink]="['/spirit', spirit.guid]" [queryParams]="{ highlightTree: spirit.tree.guid }">
                {{ spirit.name }}
              </a>
            </div>
          </app-spirit-tree>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #costHover>
  <span>Total cost of all the items in this tree.</span><br/>
  <span class="remaining-cost">Remaining cost of items not yet unlocked.</span>
</ng-template>
