:host {
  display: inline-block;
  position: relative;
  border: 0;
  border-radius: 10px;
  width: var(--item-size);
  height: var(--item-size);
}

.img {
  width: 100%;
  height: 100%;
  transition: var(--animation-short);
  filter: drop-shadow(0 0 0 #0000);
}

:host:hover {
  .img {
    transition: var(--animation-short);
    filter: drop-shadow(0 0 4px #fffa73);
  }
}

.img {
  width: 100%;
  height: 100%;
}

.emote-level {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
}
