<div class="map-container" #mapContainer>
  <button type="button" class="map-control" (click)="scrollToList()">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <div class="map"></div>
</div>

<div #table>
  <div class="sky-card mt">
    <div class="sky-card-header">
      <h2 class="h3 mb-0 d-inline-block">
        <span class="show-desktop">Children of Light</span><span class="c-accent show-desktop"> ({{ unlockedCol }} / {{ totalCol }})</span>
        <div class="show-mobile">{{ unlockedCol }} / {{ totalCol }} obtained</div>
      </h2>
      <div class="btns-reset button-group">
        <button type="button" class="" (click)="unlockAll()">All</button>
        <button type="button" class="btn-reset" (click)="reset()">Reset</button>
        <button type="button" class="btn-reset" (click)="resetOrbit()">Orbit</button>
      </div>
    </div>
  </div>
  <div class="mt">
    <ag-grid-angular
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [theme]="theme"
      [suppressDragLeaveHidesColumns]="true"
      (gridReady)="onGridReady($event)"
    />
  </div>
</div>
