

<div>
  <button (click)="isShowingMapped=!isShowingMapped">Show mapped</button>
</div>

@if (isShowingMapped) {
  <div style="display: flex; gap: 8px;flex-wrap:wrap;">
    @for (mapped of mappedFiles; track $index) {
      <div class="preview">
        @if (mapped.item) {
          <app-item-icon class="item" [item]="mapped.item" [opaque]="true" [hoverGlow]="false"></app-item-icon>
          <img class="preview-img" style="background:#fff8" [src]="mapped.item.previewUrl"/>
        }
        <img [src]="mapped.url" [attr.title]="mapped.url">
      </div>
    }
  </div>
}

<div style="display:inline-block;width:800px;position: sticky; top: 0;">
  <app-items [action]="'emit'" (onItemClicked)="onItemClicked($event)"></app-items>
  <div><button (click)="export()">Export</button></div>
</div>
<div style="display: flex; gap: 8px;flex-wrap:wrap;margin-left:820px;">
  @for (file of unmappedFiles; track $index) {
    <div class="preview" [class.highlight]="previewFile === file">
      @if (previewFileMap[file]) {
        @let item = previewFileMap[file];
        <app-item-icon class="item" [item]="item" [opaque]="true" [hoverGlow]="false"></app-item-icon>
        <img class="preview-img" [src]="item.previewUrl"/>
      }
      <img (click)="onPreviewClicked(file)" [src]="file" [attr.title]="file">
    </div>
  }
</div>
