<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Settings</h1>
  </div>
</div>

<!-- Storage -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">
      <mat-icon>swap_horiz</mat-icon>
      Storage
    </h2>
  </div>
  <div class="sky-card-body">
    <div class="container ws-pl">
      <p>
        Your data is currently being stored to:
        <b class="c-new">{{ storageProviderName }}</b>.
      </p>
      To change the place your data is stored, please visit the Storage page.<br/>
      If you want to transfer your data you should first export it here. After that, switch storage and then import the data back on this page.
      <div class="mt sky-flex flex-wrap">
        <a class="button" [routerLink]="'/storage'">
          <mat-icon class="menu-icon">database</mat-icon>
          <span class="menu-label">Go to Storage</span>
        </a>
        <button type="button" class="item" (click)="import()">
          <mat-icon class="menu-icon">download</mat-icon>
          <span class="menu-label">Import data</span>
        </button>
        <button type="button" class="item" (click)="export()">
          <mat-icon class="menu-icon">upload</mat-icon>
          <span class="menu-label">Export data</span>
        </button>
        <button type="button" class="item clear-data" (click)="clear()">
          <mat-icon class="menu-icon">delete</mat-icon>
          <span class="menu-label">Clear data</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- App -->
<div class="mt">
  <app-card [foldable]="true" [folded]="true" [title]="'App'">
    <div class="container">
      <p>
        Sky Planner can be installed as a PWA (Progressive Web App) on supported browsers.<br/>
        All that really means is that the website can live on your device like an app, making it easier to access than a bookmark.
      </p>
      <p>
        If you don't see the install button below, please try refreshing the page.<br/>
        The button on this page isn't always reliable and may be unavailable due to reasons unknown to me.<br/>
        It is also possible to install the app from the icons at the end of the address bar (on desktop) or from the browser menu (on mobile).
      </p>
      @if (pwaInstallPrompt) {
        <button (click)="promptPwa()">
          <mat-icon class="menu-icon">install_mobile</mat-icon>
          <span class="menu-label">Install</span>
        </button>
      }
    </div>
  </app-card>
</div>

<!-- Spirit trees -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">
      <mat-icon style="transform:scaleY(-1)">network_node</mat-icon>
      Spirit trees
    </h1>
  </div>
  <div class="sky-card-body">
    <div class="container">
      <p>
        @if (unlockConnectedNodes) {
          All the items leading up to the item you unlock in a spirit tree will also be unlocked.<br/>
          Likewise, when you lock an item the items beyond it will be locked. You can disable this here.
        } @else {
          When you unlock an item in a spirit tree only that item will be unlocked.<br/>
          You can choose to also unlock all preceding items below.
        }
      </p>
      <div class="sky-flex flex-wrap mt">
        <button (click)="toggleConnectedNodes()">
          <mat-icon class="menu-icon">{{unlockConnectedNodes ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
          <span class="menu-label">Unlock connected items</span>
        </button>
    </div>
  </div>
</div>

<!-- Date -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">
      <mat-icon>date_range</mat-icon>
      Date
    </h2>
  </div>
  <div class="sky-card-body">
    <div class="container ws-pl">
      Change the date displayed in the application. Today's date is {{ today | datetime: dateFormat }}.
      <div class="sky-flex flex-wrap mt">
        <button *ngFor="let format of dateFormats" [class.highlight]="dateFormat === format" type="button" class="item ws-nw" (click)="setDateFormat(format)">
          {{ format | lowercase }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Theme -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">
      <mat-icon>color_lens</mat-icon>
      Theme
    </h2>
  </div>
  <div class="sky-card-body">
    <div class="container ws-pl">
      Change the theme of the application.
      <div class="sky-flex flex-wrap mt">
        <button *ngFor="let theme of themes" [class.highlight]="currentTheme === theme.value" type="button" class="item ws-nw" (click)="setTheme(theme)">
          {{ theme.name }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Wiki -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3">Wiki</h2>
  </div>
  <div class="sky-card-body">
    <div class="sky-flex flex-wrap">
      <button (click)="toggleWikiTab()">
        <mat-icon class="menu-icon">{{wikiNewTab ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        <span class="menu-label">Navigate to wiki in new tab</span>
      </button>
    </div>
  </div>
</div>

<!-- Keyboard shortcuts -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">Keyboard shortcuts</h2>
  </div>
  <div class="sky-card-body">
    <div class="sky-flex flex-wrap">
      <button (click)="viewKeyboardShortcuts()">
        <mat-icon class="menu-icon">keyboard</mat-icon>
        <span class="menu-label">View</span>
      </button>
    </div>
  </div>
</div>

<!-- Debug info -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">Debug info</h2>
  </div>
  <div class="sky-card-body">
    <div class="container ws-pl">
      <p>
        This option adds debugging information to various pages. It is only relevant if you actively contribute to the project.
      </p>
      <button (click)="toggleDebugInfo()">
        <mat-icon class="menu-icon">{{debugVisible ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        <span class="menu-label">Show debug info</span>
      </button>
    </div>
  </div>
</div>
