
<h1 class="">{{ event.name }}</h1>
<app-table [rows]="rows">
  <ng-template [appTableHeader]>#</ng-template>
  <ng-template [appTableHeader]>Name</ng-template>
  <ng-template [appTableHeader]>Year</ng-template>
  <ng-template [appTableHeader]>Start</ng-template>
  <ng-template [appTableHeader]>End</ng-template>
  <ng-template [appTableHeader]>Spirits</ng-template>
  <ng-template [appTableHeader]>IAPs</ng-template>
  <ng-template [appTableHeader]>Unlocked</ng-template>

  <ng-template [appTableColumn] let-row="row">
    {{ row.number }}
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    <a [routerLink]="['/event-instance', row.guid]">{{ row.name }}</a>
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    {{ row.year }}
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    {{ row.date | date:'dd-MM-yyyy' }}
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    {{ row.endDate | date:'dd-MM-yyyy' }}
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    {{ row.spirits }}
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    {{ row.iaps }}
    <ng-container *ngIf="row.returningIaps">
      (<span class="returning" [ngbTooltip]="'Contains ' + row.returningIaps + ' returning IAPs.'" container="body"><mat-icon fontIcon="undo"></mat-icon>{{ row.returningIaps }}</span>)
    </ng-container>
  </ng-template>
  <ng-template [appTableColumn] let-row="row">
    <span *ngIf="row.totalItems" [class.completed]="row.unlockedItems === row.totalItems">
      {{ row.unlockedItems }} / {{ row.totalItems }}
    </span>
  </ng-template>
</app-table>
