<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Traveling Spirits</h1>
  </div>
  <div class="sky-card-body">
    <div class="grid grid-2">
      <app-wiki-link [wiki]="{href: 'https://sky-children-of-the-light.fandom.com/wiki/Traveling_Spirits'}"></app-wiki-link>
      <app-calendar-link [cal]="{href: 'https://skydreamers.notion.site/Sky-Event-Calendar-FM-ec6e6134924048859b2a8410b0a8b20d'}"></app-calendar-link>
    </div>
  </div>
</div>

<div class="mt">
  <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" [theme]="theme" [getRowHeight]="getRowHeight" (gridReady)="onGridReady($event)" />
</div>
