<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Items</h1>
  </div>
  <div class="sky-card-body">
    <div class="grid grid-2">
      <a class="container colspan-2" [routerLink]="'/item/field-guide'">
        <mat-icon class="menu-icon">photo_library</mat-icon>
        <span class="menu-label">
          Field guide
        </span>
      </a>
      <a class="container" [routerLink]="'/item/inflation'">
        <mat-icon class="menu-icon">trending_up</mat-icon>
        <span class="menu-label">
          Item inflation
        </span>
      </a>
      <a class="container" [routerLink]="'/item/unlock'">
        <mat-icon class="menu-icon">lock_open</mat-icon>
        <span class="menu-label">
          Quick unlock
        </span>
      </a>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">Type</h2>
  </div>
  <div class="sky-card-body">
    <app-item-type-selector [type]="type" (typeChanged)="onTypeChanged($event)"></app-item-type-selector>
  </div>
</div>

<!-- Items -->
<div class="sky-card mt" *ngIf="shownItems">
  <div class="sky-card-header">
    <div class="unlock-bar">
      <span class="show-desktop">
        You have unlocked
        <b [class.completed]="shownUnlocked == shownCount">{{ shownUnlocked }}</b>
        out of
        <b [class.completed]="shownUnlocked == shownCount">{{ shownCount }}</b>
        items.
      </span>
      <span class="show-mobile">
        <b [class.completed]="shownUnlocked == shownCount">{{ shownUnlocked }}</b>
        /
        <b [class.completed]="shownUnlocked == shownCount">{{ shownCount }}</b>
        unlocked
      </span>
      <div class="fav-toggle" [class.toggle-active]="showFilters" (click)="toggleFilters()">
        <mat-icon [ngbTooltip]="'Show filter'" container="body" placement="left">filter_alt</mat-icon>
      </div>
    </div>
  </div>

  <div class="sky-card-body">
  @if (showFilters) {
      <div class="container mb sky-flex flex-wrap">
        <button [class.highlight]="!filters.hideOwned" (click)="toggleFilter('hideOwned')">
          <mat-icon class="menu-icon">check_box</mat-icon>
          <span class="menu-label">Show owned</span>
        </button>
        <button [class.highlight]="!filters.hideMissing" (click)="toggleFilter('hideMissing')">
          <mat-icon class="menu-icon">check_box_outline_blank</mat-icon>
          <span class="menu-label">Show missing</span>
        </button>
        <button [class.highlight]="filters.favouriteOnly" (click)="toggleFilter('favouriteOnly')">
          <mat-icon class="menu-icon">star</mat-icon>
          <span class="menu-label">Only favourites</span>
        </button>
        <button [class.highlight]="!filters.hideLimited" (click)="toggleFilter('hideLimited')">
          <mat-icon class="menu-icon">update_disabled</mat-icon>
          <span class="menu-label">Show limited</span>
        </button>
      </div>
    }
    <div class="sky-flex flex-wrap">
      @if (showFilters && !filteredItems.length) {
        <div class="container">
          No items match the selected filters.
        </div>
      }
      <ng-container *ngFor="let item of filteredItems; let i = index">
        <a class="item-icon" [routerLink]="['/item', item.guid]">
          <app-item-icon [item]="item" [subIcons]="['type', 'season', 'elder', 'iap', 'favourite', 'unlock', 'limited']"
            [class.highlight]="item && item === selectedItem"
            [class.item-unlocked]="item.unlocked"
            [ngbTooltip]="item.name" container="body" placement="auto" >
          </app-item-icon>
        </a>
      </ng-container>
    </div>
  </div>
</div>
