<!-- <app-grid [rows]="gridRows">
  <ng-template appGridColumn let-row="row">{{ row | json }}</ng-template>
</app-grid> -->

<div class="realms">
  <div class="realm p-rel" *ngFor="let realm of realms">
    <h1>{{realm.name}}</h1>
    <!-- Wiki -->
    <div class="wiki p-abs" *ngIf="realm._wiki?.href">
      <a [href]="realm._wiki!.href" title="Open wiki" target="_blank">
        <mat-icon fontIcon="question_mark"></mat-icon>
      </a>
    </div>
    <!-- Areas -->
    <!-- <div class="mt-2 item areas">
      Areas
    </div> -->
    <!-- Spirits -->
    <div class="mt-2 item">
      Spirits
    </div>
    <!-- Elder -->
    <div class="mt-2 item">
      Elder
    </div>
  </div>
</div>
