.img {
  box-shadow: 0 0 16px 2px var(--color-image-inset) inset;
  border-radius: var(--border-radius);
  height: var(--img-preview-height);
  background-size: cover;
  background-position: bottom;
}

.map-container {
  position: relative;

  ::ng-deep .map {
    min-height: 200px;
    height: 600px;
    max-height: calc(100vh - 20px);
  }
}
