<section class="atmos-page__quick-actions">
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/r/realm"><mat-icon>map</mat-icon> Realms</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/r/area"><mat-icon>location_on</mat-icon> Areas</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/r/realm/shared-creations"><mat-icon>place</mat-icon> Shared Creations</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/r/realm/cr-tracker"><mat-icon svgIcon="candle"></mat-icon> Candle Run Tracker</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/r/realm/pnr-tracker"><mat-icon>arrow_forward</mat-icon> Eden Statue Tracker</a>
  <a class="atmos-btn atmos-btn--sm" href="https://sky-children-of-the-light.fandom.com/wiki/Realms" target="_blank" rel="noopener"><mat-icon>menu_book</mat-icon> Wiki</a>
</section>
