<div [attr.data-position]="position" [class.highlight]="highlight">
  <div *ngIf="node.item" class="item-container" [ngbTooltip]="nodeHover" [placement]="tooltipPlacement" container="body"
    (click)="toggleNode()" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"
  >
    <app-item [item]="node.item" [highlight]="hover"></app-item>
  </div>
  <div class="cost" *ngIf="node?.c">
    {{ node.c }}<mat-icon svgIcon="candle" [inline]="false"></mat-icon>
  </div>
  <div class="cost" *ngIf="node?.sc">
    {{ node.sc }}<mat-icon svgIcon="season-candle" [inline]="false"></mat-icon>
  </div>
  <div class="cost" *ngIf="node?.h">
    {{ node.h }}<mat-icon svgIcon="heart" [inline]="false"></mat-icon>
  </div>
  <div class="cost" *ngIf="node?.sh">
    {{ node.sh }}<mat-icon class="seasonal" svgIcon="season-heart" [inline]="false"></mat-icon>
  </div>
  <div class="cost ascend" *ngIf="node?.ac">
    {{ node.ac }}<mat-icon svgIcon="ascended-candle" [inline]="false"></mat-icon>
  </div>
  <div class="cost" *ngIf="node?.ec">
    {{ node.ec }}<mat-icon svgIcon="ticket" [inline]="false"></mat-icon>
  </div>
  <mat-icon class="unlock-check" [class.unlocked]="node.unlocked || node.item?.unlocked" [class.self]="node.unlocked" fontIcon="done"></mat-icon>
</div>

<ng-template #nodeHover>
  <ng-container *ngIf="node.item">
    <span class="ws-nw">{{node.item.name}}</span>
  </ng-container>
</ng-template>
