<div class="card container">
  <h1 class="h2 mb-0">
    Spirits
    <a (click)="changeMode()" class="h6 link">Change view</a>
  </h1>
</div>

<!-- #region List -->
<div class="mt-2 card p-0" *ngIf="mode === 'grid'">
  <app-table [rows]="rows">
    <!-- Headers-->
    <ng-template [appTableHeader]>Spirit</ng-template>
    <ng-template [appTableHeader]>Type</ng-template>
    <ng-template [appTableHeader]>Location</ng-template>
    <ng-template [appTableHeader]>Unlocked</ng-template>

    <!-- Body -->
    <!-- Name -->
    <ng-template [appTableColumn] let-row="row">
      <a [routerLink]="['/spirit', row.guid]">{{ row.name }}</a>
    </ng-template>
    <!-- Image -->
    <!-- <ng-template [appTableColumn] let-row="row">
      <img *ngIf="row.imageUrl" [src]="row.imageUrl" [alt]="row.name" />
    </ng-template> -->
    <!-- Type -->
    <ng-template [appTableColumn] let-row="row">
      <app-spirit-type-icon [type]="row.type"></app-spirit-type-icon>
    </ng-template>
    <!-- Location -->
    <ng-template [appTableColumn] let-row="row">
      <!-- <a [routerLink]="row.areaGuid ? ['/area', row.areaGuid] : undefined"> -->
      <a [routerLink]="undefined">
        {{ row.area?.name }}
      </a>
    </ng-template>
    <!-- Progress -->
    <ng-template [appTableColumn] let-row="row">
      <span *ngIf="row.totalItems"
        [class.partial]="(row.unlockedLast && row.unlockedLast === row.totalLast) || ((row.unlockedFree || row.totalPass) && row.unlockedFree === row.totalFree)"
        [class.completed]="row.unlockedItems === row.totalItems"
        [ngbTooltip]="row.unlockTooltip" container="body" placement="left"
      >
        {{ row.unlockedItems }} / {{ row.totalItems }}
      </span>
    </ng-template>

    <!-- Footers -->
    <ng-template [appTableFooter] [colspan]="3" [textAlign]="'right'">Total:</ng-template>
    <ng-template [appTableFooter]>
      <span [class.completed]="unlockedItems === totalItems">{{ unlockedItems }} / {{ totalItems }}</span>
    </ng-template>
  </app-table>
</div>
<!-- #endregion-->

<!-- #region Cards -->
<div class="grid grid-4 gap-medium mt-2" *ngIf="mode === 'cards'">
  <div class="card p-rel" *ngFor="let row of rows">
    <h2 class="h3">
      <app-spirit-type-icon [type]="row.type"></app-spirit-type-icon>
      {{row.name}}
    </h2>
    <!-- Wiki -->
    <div class="wiki p-abs" *ngIf="row._wiki?.href">
      <a [href]="row._wiki!.href" target="_blank" [ngbTooltip]="'Open wiki'" placement="left" container="body">
        <mat-icon fontIcon="question_mark"></mat-icon>
      </a>
    </div>
    <!-- Image -->
    <div *ngIf="row.imageUrl" class="p-rel item spirit-img">
      <img [src]="row.imageUrl" loading="lazy">
    </div>
    <!-- Info -->
    <a class="mt-2 item link" [routerLink]="['/spirit', row.guid]">
      <mat-icon class="menu-icon" fontIcon="list"></mat-icon>
      <span class="menu-label">Information</span>
    </a>
    <!-- Progress -->
    <div class="mt-2 p-rel item">
      <mat-icon class="menu-icon" fontIcon="lock_open"></mat-icon>
      <div class="d-inline-block menu-label">
        <span *ngIf="row.totalItems"
        [class.partial]="(row.unlockedLast && row.unlockedLast === row.totalLast) || ((row.unlockedFree || row.totalPass) && row.unlockedFree === row.totalFree)"
        [class.completed]="row.unlockedItems === row.totalItems"
        [ngbTooltip]="row.unlockTooltip" container="body" placement="bottom"
        >
          {{ row.unlockedItems }} / {{ row.totalItems }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- #endregion -->

<!-- Templates -->

<!-- Type -->
<ng-template #type let-row="row">
  <ng-container [ngSwitch]="row.type">
    <mat-icon *ngSwitchCase="'Elder'" [svgIcon]="'ascended-candle'"
      [ngbTooltip]="'Elder Spirit'" container="body" placement="bottom">
    </mat-icon>
    <mat-icon *ngSwitchCase="'Guide'" [svgIcon]="'season-heart'"
      [ngbTooltip]="'Season Guide'" container="body" placement="bottom">
    </mat-icon>
    <mat-icon *ngSwitchCase="'Regular'" [svgIcon]="'candle'"
      [ngbTooltip]="'Regular Spirit'" container="body" placement="bottom">
    </mat-icon>
    <mat-icon *ngSwitchCase="'Season'" [svgIcon]="'season-candle'"
      [ngbTooltip]="'Season Spirit'" container="body" placement="bottom">
    </mat-icon>
    <span *ngSwitchDefault>{{ row.type }}</span>
  </ng-container>
</ng-template>
