<section class="atmos-page__quick-actions">
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/shop"><mat-icon>shopping_cart</mat-icon> Shops</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/event"><mat-icon>storefront</mat-icon> Event Store</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/cinema"><mat-icon>movie</mat-icon> Cinema</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/concert-hall"><mat-icon>music_note</mat-icon> Concert Hall</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/harmony"><mat-icon>piano</mat-icon> Harmony Hall</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/nesting"><mat-icon>chair</mat-icon> Nesting Workshop</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/office"><mat-icon>business</mat-icon> Office</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/shop/wonderland-cafe"><mat-icon>local_cafe</mat-icon> Wonderland Café</a>
  <a class="atmos-btn atmos-btn--sm" href="https://sky-children-of-the-light.fandom.com/wiki/Premium_Candle_Shop" target="_blank" rel="noopener"><mat-icon>menu_book</mat-icon> Wiki</a>
</section>
