.card-wrapper {
  position: relative;
  box-shadow: inset 0px 5px 5px -5px #4C4C6B;
  box-shadow: inset 0px 5px 5px -5px #323248, inset 0px -5px 5px -5px #111118;
  padding: 10px 10px;
  border-radius: var(--border-radius-round);
  background: var(--color-item-background);
}
