.card-container {
  background: var(--color-item-background);
  padding: var(--padding-content);
  border-radius: var(--border-radius-round);
  width: min-content;
  min-width: 100%;
}

.card-container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  background: var(--color-background);
  padding: var(--padding-content);
  border-radius: var(--border-radius-round);
}
