.grid {
  display: grid;
  grid-template-columns: var(--column-items);

  &.grid-1 {
    grid-template-columns: var(--column-items-1);
  }

  &.grid-2 {
    grid-template-columns: var(--column-items-2);
  }

  &.grid-3 {
    grid-template-columns: var(--column-items-3);
  }

  &.grid-4 {
    grid-template-columns: var(--column-items-4);
  }

  gap: 4px;

  h1 {
    margin-left: 5px;
  }

  h1 .number {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .wiki {
    width: 28px;
    height: 28px;
    right: var(--padding-content);
    top: var(--padding-content);
    border-radius: var(--border-radius-round);
    background: var(--color-background);

    a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    mat-icon {
      position: absolute;
      top: 1px;
      right: 3px;
    }
  }

  .item {
    padding: 10px;
    background: var(--color-background);
    border-radius: var(--border-radius-round);
  }

  .link {
    cursor: pointer;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  .item.link {
    display: block;
  }

  .menu-icon {
    position: absolute;
  }

  .menu-label {
    padding-left: 32px;
  }
}
