// Variables
:root {
  --color: #fff;
  --color-accent: #999;
  --color-background: #111118;
  --color-background-dark: #0b0b0f;
  --color-item-background: #1c1c28;
  --color-item-background-highlight: #252535;
  --color-border-lowlight: #111118;
  --color-border-highlight: #515167;
  --color-border-complement: #d8d897;
  --color-status-background: #222230;
  --color-candle: #ddd;
  --color-new: #32cd32;
  --color-old: #cacd32;
  --color-wing-buff: #feff87;
  --color-seasonal: #fdab2b;
  --color-unlock-check: var(--color-new);
  --color-unlock-check-background: #145114;
  --color-unlock-check-background-subtle: #14511460;
  --color-unlock-check-ref: var(--color-old);
  --color-unlock-check-shadow: #000;
  --color-link-hover: #9797d8;
  --color-item: #828282;
  --color-item-highlight: #c5b167;
  --color-danger-background: #5a1818;
  --color-danger-accent: #9d3b3b;

  --item-size: 64px;
  --item-size-medium: 48px;
  --item-size-small: 32px;

  --icon-size-group: 24px;
  --icon-size-cost: 18px;

  --animation-short: 150ms;
  --animation-medium: 300ms;

  --menu-width: 44px;
  --status-height: 24px;

  --border-radius-round: 8px;
  --padding-content: 10px;

  --column-items: 1fr;
  --column-items-1: 1fr;
  --column-items-2: 1fr;
  --column-items-3: 1fr;
  --column-items-4: 1fr;
}

@media screen and (min-width: 720px) {
  :root {
    --column-items-4: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  :root {
    --menu-width: 200px;
    --column-items: repeat(2, 1fr);
    --column-items-1: 1fr;
    --column-items-2: repeat(2, 1fr);
    --column-items-3: repeat(2, 1fr);
    --column-items-4: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --column-items: repeat(3, 1fr);
    --column-items-1: 1fr;
    --column-items-2: repeat(2, 1fr);
    --column-items-3: repeat(3, 1fr);
    --column-items-4: repeat(4, 1fr);
  }
}
