// Variables
:root {
  --color: #fff;
  --color-accent: #999;
  --color-background: #111118;
  --color-background-dark: #0b0b0f;
  --color-item-background: #1c1c28;
  --color-item-background-highlight: #252535;
  --color-border-lowlight: #111118;
  --color-border-highlight: #515167;
  --color-border-complement: #d8d897;
  --color-status-background: #222230;
  --color-candle: #ddd;
  --color-new: #32cd32;
  --color-old: #cacd32;
  --color-candle-seasonal: #fdab2b;
  --color-unlock-check: var(--color-new);
  --color-unlock-check-background: #145114;
  --color-unlock-check-ref: var(--color-old);
  --color-unlock-check-shadow: #000;
  --color-link-hover: #9797d8;

  --item-size: 64px;

  --animation-short: 150ms;
  --animation-medium: 300ms;

  --menu-width: 44px;
  --status-height: 24px;

  --border-radius-round: 8px;
  --padding-content: 10px;

  --columns-items: 1fr;
  --columns-items-even: 1fr;
}

@media screen and (min-width: 992px) {
  :root {
    --menu-width: 240px;
    --columns-items: repeat(2, 1fr);
    --columns-items-even: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --columns-items: repeat(3, 1fr);
  }
}
