@if (isAnnouncementVisible()) {
  <div class="sky-card">
    <div class="sky-card-header">
      <h1 class="h2 mb-0">Candle Run Tracker</h1>
    </div>
    <div class="sky-card-body">
      <div class="container">
        <p>
          A new interactive tracker for candle runs has been added to the Sky Planner!<br />
          Please note that this tracker is in beta and currently only includes data for Aviary Village, Isle of Dawn and
          Daylight Prairie.<br/>
        </p>
        <p>You can always find this tracker on the 'Tools' page accessible from the menu.</p>
        <div class="sky-flex flex-wrap mt-half">
          <a class="button" [routerLink]="'/cr-tracker'">
            <mat-icon class="menu-icon">candle</mat-icon>
            <span class="menu-label">Go to tracker</span>
          </a>
          <button type="button" class="button-danger" (click)="dismiss()">
            <mat-icon class="menu-icon">close</mat-icon>
            <span class="menu-label">Dismiss</span>
          </button>
        </div>
      </div>
    </div>
  </div>
}