<div class="flex">
  <!-- Outfits -->
  <div class="item-icon category" [class.highlight]="type === 'Outfit'"
  [ngbTooltip]="'Outfits'" container="body" placement="bottom"
    (click)="changeType('Outfit')">
    <mat-icon svgIcon="outfit"></mat-icon>
  </div>
  <!-- Shoes -->
  <div class="item-icon category" [class.highlight]="type === 'Shoes'"
  [ngbTooltip]="'Shoes'" container="body" placement="bottom"
    (click)="changeType('Shoes')">
    <mat-icon svgIcon="shoes"></mat-icon>
  </div>
  <!-- Masks -->
  <div class="item-icon category" [class.highlight]="type === 'Mask'"
  [ngbTooltip]="'Masks'" container="body" placement="bottom"
    (click)="changeType('Mask')">
    <mat-icon svgIcon="mask"></mat-icon>
  </div>
  <!-- Face Accessories -->
  <div class="item-icon category" [class.highlight]="type === 'FaceAccessory'"
  [ngbTooltip]="'Face accessories'" container="body" placement="bottom"
    (click)="changeType('FaceAccessory')">
    <mat-icon svgIcon="face-acc"></mat-icon>
  </div>
  <!-- Necklaces -->
  <div class="item-icon category" [class.highlight]="type === 'Necklace'"
  [ngbTooltip]="'Necklaces'" container="body" placement="bottom"
    (click)="changeType('Necklace')">
    <mat-icon svgIcon="necklace"></mat-icon>
  </div>
  <!-- Hair -->
  <div class="item-icon category" [class.highlight]="type === 'Hair'"
  [ngbTooltip]="'Hair'" container="body" placement="bottom"
    (click)="changeType('Hair')">
    <mat-icon svgIcon="hair"></mat-icon>
  </div>
  <!-- Hats -->
  <div class="item-icon category" [class.highlight]="type === 'Hat'"
  [ngbTooltip]="'Hats'" container="body" placement="bottom"
    (click)="changeType('Hat')">
    <mat-icon svgIcon="hat"></mat-icon>
  </div>
  <!-- Capes -->
  <div class="item-icon category" [class.highlight]="type === 'Cape'"
  [ngbTooltip]="'Capes'" container="body" placement="bottom"
    (click)="changeType('Cape')">
    <mat-icon svgIcon="cape"></mat-icon>
  </div>
  <!-- Held -->
  <div class="item-icon category" [class.highlight]="type === 'Held'"
  [ngbTooltip]="'Held props'" container="body" placement="bottom"
    (click)="changeType('Held')">
    <mat-icon svgIcon="held"></mat-icon>
  </div>
  <!-- Prop -->
  <div class="item-icon category" [class.highlight]="type === 'Prop'"
  [ngbTooltip]="'Props'" container="body" placement="bottom"
    (click)="changeType('Prop')">
    <mat-icon svgIcon="prop"></mat-icon>
  </div>
  <!-- Emote -->
  <div class="item-icon category" [class.highlight]="type === 'Emote'"
  [ngbTooltip]="'Emotes'" container="body" placement="bottom"
    (click)="changeType('Emote')">
    <mat-icon svgIcon="emote"></mat-icon>
  </div>
  <!-- Stance -->
  <div class="item-icon category" [class.highlight]="type === 'Stance'"
  [ngbTooltip]="'Stances'" container="body" placement="bottom"
    (click)="changeType('Stance')">
    <mat-icon svgIcon="stance"></mat-icon>
  </div>
  <!-- Call -->
  <div class="item-icon category" [class.highlight]="type === 'Call'"
  [ngbTooltip]="'Calls'" container="body" placement="bottom"
    (click)="changeType('Call')">
    <mat-icon svgIcon="call"></mat-icon>
  </div>
</div>
