<div class="content" [class.highlight]="highlight">
  <div class="spirit-tree-scroll" [class.pad-bottom]="hasCostAtRoot">
    <div class="unlock-all" (click)="unlockAll()" [ngbTooltip]="'Toggle all'" container="body" placement="bottom-end">
      <mat-icon fontIcon="lock_open"></mat-icon>
    </div>
    <div class="spirit-tree">
      <div class="column left">
        <div class="item" *ngFor="let node of left">
          <app-node *ngIf="node" [node]="node" [position]="'left'"></app-node>
          <!-- For now left nodes only go up. -->
          <div *ngIf="node?.n" class="arrow arrow-up"></div>
        </div>
      </div>
      <div class="column center">
        <div class="item" *ngFor="let node of center">
          <app-node *ngIf="node" [node]="node" [position]="'center'"></app-node>
          <!-- Center node arrows -->
          <div *ngIf="node?.nw" class="arrow arrow-left"></div>
          <div *ngIf="node?.n" class="arrow arrow-up"></div>
          <div *ngIf="node?.ne" class="arrow arrow-right"></div>
        </div>
      </div>
      <div class="column right">
        <div class="item" *ngFor="let node of right">
          <app-node *ngIf="node" [node]="node" [position]="'right'"></app-node>
          <!-- For now right nodes only go up. -->
          <div *ngIf="node?.n" class="arrow arrow-up"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div *ngIf="name" class="name">
      <ng-content select="div[name]"></ng-content>
      <div class="name-default">
        {{ name }}
        <span *ngIf="tsDate" class="c-accent ts-date">({{ tsDate | date:'dd-MM-yyyy' }})</span>
        <span *ngIf="rsDate" class="c-accent ts-date">({{ rsDate | date:'dd-MM-yyyy' }})</span>
      </div>
    </div>
    <div *ngIf="name && hasCost" class="hr"></div>
    <div *ngIf="hasCost" class="costs" [ngbTooltip]="costHover" container="body" placement="top">
      <div class="cost" *ngIf="totalCost?.c">
        {{ totalCost.c }}
        <span class="remaining-cost">({{ remainingCost.c || 0 }})</span>
        <mat-icon svgIcon="candle" [inline]="false"></mat-icon>
      </div>
      <div class="cost" *ngIf="totalCost?.sc">
        {{ totalCost.sc }}
        <span class="remaining-cost">({{ remainingCost.sc || 0 }})</span>
        <mat-icon class="seasonal" svgIcon="candle" [inline]="false"></mat-icon>
      </div>
      <div class="cost" *ngIf="totalCost?.h">
        {{ totalCost.h }}
        <span class="remaining-cost">({{ remainingCost.h || 0 }})</span>
        <mat-icon svgIcon="heart" [inline]="false"></mat-icon>
      </div>
      <div class="cost seasonal" *ngIf="totalCost?.sh">
        {{ totalCost.sh }}
        <span class="remaining-cost">({{ remainingCost.sh || 0 }})</span>
        <mat-icon svgIcon="heart" [inline]="false"></mat-icon>
      </div>
      <div class="cost ascend" *ngIf="totalCost?.ac">
        {{ totalCost.ac }}
        <span class="remaining-cost">({{ remainingCost.ac || 0 }})</span>
        <mat-icon svgIcon="ascended-candle" [inline]="false"></mat-icon>
      </div>
      <div class="cost" *ngIf="totalCost?.ec">
        {{ totalCost.ec }}
        <span class="remaining-cost">({{ remainingCost.ec || 0 }})</span>
        <mat-icon svgIcon="ticket" [inline]="false"></mat-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #costHover>
  <span>Total cost of all the items in this tree.</span><br/>
  <span class="remaining-cost">Remaining cost of items not yet unlocked.</span>
</ng-template>
