:host {
  display: inline-block;
  backdrop-filter: var(--backdrop-blur);
}

.content {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.spirit-tree-scroll {
  background: var(--color-tree-background);
  position: relative;
  // max-height: 600px;
  overflow-y: auto;
  text-align: center;
  padding-top: 32px;
}

// Add space at bottom for node cost.
.spirit-tree-scroll.pad-bottom {
  padding-bottom: 32px;
}

/** Contains the 3 columns */
.spirit-tree {
  display: inline-flex;
  gap: 32px;
  width: min-content;
  padding: 4px 4px 4px 4px;
}

// #region Tiers

.spirit-tree-tiers {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--padding-content);
  align-items: center;
}

.spirit-tree-tier {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--padding-content);
  align-items: center;
}

.spirit-tree-tier:first-child {
  margin-bottom: 20px;
}

.spirit-tree-tier:not(:last-child) {
  border-top: 1px solid var(--color-tree-line);
  padding-top: var(--padding-content);
}

.spirit-tree-tier-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--padding-content-half);
  white-space: nowrap;
}

.tier-node {
  padding: 12px 6px;
}

.tier-node-missing {
  display: inline-block;
  width: var(--item-size);
  height: var(--item-size);
}

// #endregion

/** Contains column nodes */
.column {
  display: flex;
  gap: 40px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  counter-reset: item-counter;
  width: var(--item-size);
}

.left, .right {
  padding-bottom: 48px;
}

.st-item {
  position: relative;
  width: var(--item-size);
  height: var(--item-size);
}

.st-item-icon {
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  font-size: 32px;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-short);
  opacity: 0;
  text-shadow:
    -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}

.st-item:hover .st-item-icon {
  transition: opacity var(--animation-short);
  opacity: 1;
}

.arrow {
  position: absolute;
  background: var(--color-tree-line);
  width: 1px;
}

.arrow-left {
  transform: rotate(-45deg);
  height: 32px;
  left: -18px;
  top: 0;
}

.arrow-up {
  height: 24px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-right {
  transform: rotate(45deg);
  height: 32px;
  right: -18px;
  top: 0;
}

/* Buttons */

.tree-actions {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  gap: 4px;
}

.tree-actions-left {
  top: 5px;
  left: 5px;
}

.tree-actions-right {
  grid-template-columns: 1fr 1fr;
  direction: rtl;
  top: 5px;
  right: 5px;
}

.tree-action {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 36px;
  padding-right: 5px;
  border-radius: var(--border-radius);
  background-color: var(--color-tree-unlock-background);
  box-shadow: 0 0 1px 1px var(--color-border);
}

.tree-sub-action {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: var(--border-radius);
  background-color: var(--color-tree-unlock-background);
  box-shadow: 0 0 1px 1px var(--color-border);
}

.tree-action-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  user-select: none;

  mat-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 256px;
    height: 256px;
    width: 256px;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.3);
  }
}

.tree-action-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius);

  mat-icon {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.unlock-all {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius);
  background-color: var(--color-tree-unlock-background);

  mat-icon {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

/* Footer */

.footer {
  text-align: center;
  background: var(--color-tree-footer-background);
}

.name {
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.name-default:not(:only-child) {
  display: none;
}

.ts-date {
  font-size: 13px;
  vertical-align: text-bottom;
}

.hr {
  --width: calc(100% - 20px);
  height: 1px;
  width: var(--width);
  margin-left: calc((100% - var(--width)) / 2);
  background: var(--color-tree-footer-border);
}

.costs {
  padding: 4px;
}

.cost {
  display: inline-block;
  font-size: 14px;
  padding: 0 6px;
}
.cost mat-icon {
  width: 17px;
  vertical-align: sub;
  height: auto;
}

.remaining-cost {
  color: var(--color-accent);
}
