:host {
  display: inline-block;
}

.content {
  border: 1px solid var(--color-item-background);
  border-radius: var(--border-radius-round);
  overflow: hidden;
}

.content.highlight {
  border-color: var(--color-border-complement);
}

.spirit-tree-scroll {
  // max-height: 600px;
  overflow-y: auto;
}

/** Contains the 3 columns */
.spirit-tree {
  display: inline-flex;
  gap: 32px;
  width: min-content;
  padding: 4px 4px 24px 4px;
}

/** Contains column nodes */
.column {
  display: flex;
  gap: 40px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  counter-reset: item-counter;
  width: var(--item-size);
}

.left, .right {
  padding-bottom: 48px;
}

.item {
  position: relative;
  width: var(--item-size);
  height: var(--item-size);
}

.arrow {
  position: absolute;
  background: #fff;
  width: 1px;
}

.arrow-left {
  transform: rotate(-45deg);
  height: 32px;
  left: -18px;
  top: 0;
}

.arrow-up {
  height: 24px;
  top: -30px;
  left: 50%;
  transform:translateX(-50%);
}

.arrow-right {
  transform: rotate(45deg);
  height: 32px;
  right: -18px;
  top: 0;
}

/* Footer */

.footer {
  text-align: center;
  background: var(--color-item-background);
}

.name {
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.ts-date {
  font-size: 13px;
  vertical-align: text-bottom;
}

.hr {
  --width: calc(100% - 20px);
  height: 1px;
  width: var(--width);
  margin-left: calc((100% - var(--width)) / 2);
  background: var(--color-border-highlight);
}

.costs {
  padding: 4px;
}

.cost {
  display: inline-block;
  font-size: 14px;
  padding: 0 6px;
}
.cost mat-icon {
  width: 17px;
  vertical-align: sub;
  height: auto;
}

.remaining-cost {
  color: var(--color-accent);
}

.seasonal mat-icon { fill: var(--color-candle-seasonal); }
