:host {
  display: inline-block;
  backdrop-filter: var(--backdrop-blur);
}

.content {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.spirit-tree-scroll {
  background: var(--color-tree-background);
  position: relative;
  // max-height: 600px;
  overflow-y: auto;

  &.has-buttons {
    padding-top: 32px;
  }
}

// Add space at bottom for node cost.
.spirit-tree-scroll.pad-bottom {
  padding-bottom: 32px;
}

/** Contains the 3 columns */
.spirit-tree {
  display: inline-flex;
  gap: 32px;
  width: min-content;
  padding: 4px 4px 4px 4px;
}

/** Contains column nodes */
.column {
  display: flex;
  gap: 40px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  counter-reset: item-counter;
  width: var(--item-size);
}

.left, .right {
  padding-bottom: 48px;
}

.st-item {
  position: relative;
  width: var(--item-size);
  height: var(--item-size);
}

.st-item-icon {
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  font-size: 32px;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-short);
  opacity: 0;
  text-shadow:
    -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}

.st-item-sp {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  pointer-events: none;
  filter: drop-shadow(1px 0px 1px #000);
}

.st-item:hover .st-item-icon {
  transition: opacity var(--animation-short);
  opacity: 1;
}

.arrow {
  position: absolute;
  background: var(--color-tree-line);
  width: 1px;
}

.arrow-left {
  transform: rotate(-45deg);
  height: 32px;
  left: -18px;
  top: 0;
}

.arrow-up {
  height: 24px;
  top: -30px;
  left: 50%;
  transform:translateX(-50%);
}

.arrow-right {
  transform: rotate(45deg);
  height: 32px;
  right: -18px;
  top: 0;
}

/* Buttons */

.tree-action {
  position: absolute;
  cursor: pointer;
  top: 5px;
  height: 30px;
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius);
  background-color: var(--color-tree-unlock-background);
  z-index: 1;

  mat-icon {
    position: absolute;
    top: 1px;
  }
}

.find-item {
  left: 5px;
  padding: 2px 5px 0 24px;

  mat-icon { top: 2px; left: 1px; }
  span { vertical-align: middle; }
}

.unlock-all {
  right: 5px;
  padding: 2px 26px 0 5px;
  mat-icon { top: 2px; right: 1px; }
  span { vertical-align: middle; }
}

/* Footer */

.footer {
  text-align: center;
  background: var(--color-tree-footer-background);
}

.name {
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.name-default:not(:only-child) {
  display: none;
}

.ts-date {
  font-size: 13px;
  vertical-align: text-bottom;
}

.hr {
  --width: calc(100% - 20px);
  height: 1px;
  width: var(--width);
  margin-left: calc((100% - var(--width)) / 2);
  background: var(--color-tree-footer-border);
}

.costs {
  padding: 4px;
}

.cost {
  display: inline-block;
  font-size: 14px;
  padding: 0 6px;
}
.cost mat-icon {
  width: 17px;
  vertical-align: sub;
  height: auto;
}

.remaining-cost {
  color: var(--color-accent);
}

.seasonal mat-icon { fill: var(--color-seasonal); }
