<!-- Draft -->
@if (instance.draft) {
  <div class="sky-card mb">
    <div class="sky-card-body">
      <div class="container colspan-2">
        <mat-icon class="menu-icon">warning</mat-icon>
        <span class="menu-label">
          <b class="c-warn-accent">We're still working on this content. Thank you for your patience.</b>
        </span>
      </div>
    </div>
  </div>
}

<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">
      {{ instance.name ?? instance.event.name }}
      <span class="c-accent"><app-date [date]="instance.date" [format]="'yyyy'"></app-date></span>
    </h1>
  </div>
  <div class="sky-card-body">
    <div class="grid grid-2">
      <!-- Wiki -->
      <app-wiki-link [wiki]="instance.event._wiki" [aClass]="'container' + (!instance._calendar ? ' colspan-2' : '')"></app-wiki-link>
      <!-- Calendar -->
      <app-calendar-link [cal]="instance._calendar" [aClass]="'container'"></app-calendar-link>
      <!-- Prev next -->
      <a class="container" *ngIf="previousInstance" [routerLink]="['/event-instance', previousInstance.guid]" [class.colspan-2]="!nextInstance">
        <mat-icon class="menu-icon">arrow_back</mat-icon>
        <span class="menu-label">
          Previous year
        </span>
      </a>
      <a class="container" *ngIf="nextInstance" [routerLink]="['/event-instance', nextInstance.guid]"  [class.colspan-2]="!previousInstance">
        <mat-icon class="menu-icon">arrow_forward</mat-icon>
        <span class="menu-label">
          Next year
        </span>
      </a>
      <!-- Date -->
      <div class="container" [class.expired]="state === 'ended'">
        <mat-icon class="menu-icon">calendar_month</mat-icon>
        <span class="menu-label">
          <app-date [date]="instance.date"></app-date>
          to
          <app-date [date]="instance.endDate"></app-date>
        </span>
        <span *ngIf="state !== 'active'" class="c-accent">
          (<app-days-left [start]="instance.date" [end]="instance.endDate"></app-days-left>)
        </span>
      </div>
      <!-- Duration -->
      <div class="container" [class.expired]="state === 'ended'">
        <mat-icon class="menu-icon">schedule</mat-icon>
        <span class="menu-label">
          <app-duration [start]="instance.date" [end]="instance.endDate"></app-duration>
          <span *ngIf="state === 'active'" class="c-accent">
            (<app-days-left [start]="instance.date" [end]="instance.endDate"></app-days-left>)
          </span>
        </span>
      </div>
      <!-- Event currency -->
      <div class="container">
        <mat-icon class="menu-icon" svgIcon="ticket"></mat-icon>
        <span class="menu-label">
          {{ ec }} event currency
          <span class="c-accent" *ngIf="ecLeft">({{ ecLeft }} needed)</span>
        </span>
      </div>
      <!-- Candles -->
      <div class="container">
        <mat-icon class="menu-icon" svgIcon="candle"></mat-icon>
        <span class="menu-label">
          {{ c }} candles
          <span class="c-accent" *ngIf="cLeft">({{ cLeft }} needed)</span>
        </span>
      </div>
      <!-- Calculator -->
      @if (instance.calculatorData && (state === 'active' || state === 'future')) {
        <a class="container colspan-2" [routerLink]="'/event-calculator'" [queryParams]="{ guid: instance.guid }">
          <mat-icon class="menu-icon">calculate</mat-icon>
          <span class="menu-label">
            Event Calculator
          </span>
        </a>
      }
    </div>
  </div>
</div>

<!-- Spirits -->
<div *ngIf="instance.spirits?.length" class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">Spirits</h2>
  </div>
  <div class="sky-card-body pad-0">
    <div class="sky-flex scroll-x pad">
      <div *ngFor="let spirit of instance.spirits" class="tree-wrapper p-inline-block">
        <app-spirit-tree [tree]="spirit.tree" [name]="spirit?.name || spirit?.tree?.name || spirit.spirit.name" [highlightItem]="highlightItem"></app-spirit-tree>
      </div>
    </div>
  </div>
</div>

<!-- Shops -->
@if (shops?.length) {
  <div class="sky-card mt">
    <div class="sky-card-header">
      <h1 class="h2 mb-0">Shops</h1>
    </div>
    <div class="sky-card-body">
      @for (shop of shops; track shop.guid) {
        <app-item-list [itemList]="shop.itemList!"></app-item-list>
      }
    </div>
  </div>
}

<!-- IAPs -->
<ng-container *ngIf="iapShops?.length">
  <div class="sky-card mt">
    <div class="sky-card-header">
      <h2 class="h3 mb-0">In-App Purchases</h2>
    </div>
    <div class="pad sky-card-body">
      <div class="grid grid-4">
        <!-- Render IAPs in order of sorted shops. -->
        @for (shop of iapShops; track shop.guid) {
          @for (iap of shop.iaps; track iap.guid) {
            <app-iap-card [iap]="iap" [highlightIap]="highlightIap"></app-iap-card>
          }
        }
      </div>
    </div>
  </div>
</ng-container>
