<div class="atmos-card atmos-tabs">
  <div class="atmos-tabs__nav">
    @for (tab of tabs(); track $index) {
      <button type="button" class="atmos-tabs__btn" (click)="activeTab=tab" [class.is-active]="activeTab === tab">
        {{ tab.title }}
      </button>
    }
  </div>
  <div class="atmos-tabs__body">
    @for (tab of tabs(); track $index) {
      <div [hidden]="activeTab !== tab">
        <ng-container *ngTemplateOutlet="tab.template"></ng-container>
      </div>
    }
  </div>
</div>
