@if (errorMessage) {
  <div class="sky-card mb">
    <div class="sky-card-header">
      <h1 class="h2 mb-0">Storage problem</h1>
    </div>
    <div class="sky-card-body">
      <div class="container mb">
        <p>
          <mat-icon class="v-top c-warn-accent">priority_high</mat-icon>
          You have been redirected to the storage page because loading data failed.
        </p>
        <p>The error message is shown below and more details are logged in the console.</p>

        <hr/>
        <pre class="mt mb c-warn-accent">{{ errorMessage }}</pre>
        <hr/>

        You can try to link your account again or switch to local storage which should always work.
      </div>
    </div>
  </div>
}

<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Storage</h1>
  </div>
  <div class="sky-card-body">
    <div class="container">
      <p>
        On this page you can change where your tracked data is stored. There are a few exceptions to what is stored here; some settings may still be stored locally.<br/>
        Every storage location is completely separate from each other. You can think of every storage location as a "save file" so to speak.<br/>
      </p>
      <p>
        Before switching storage locations, it is highly recommended to first go to the <b>Settings</b> page and <b>export</b> your data.<br/>
        After switching storage locations, you can then return to the <b>Settings</b> page and <b>import</b> your data back.<br/>
      </p>
      <p>If you forgot to export your data before switching, you can always switch back on this page and try again!</p>
    </div>
  </div>
</div>

<div class="grid grid-2 mt">
  <!-- Local Storage -->
  <div class="sky-card">
    <div class="sky-card-header">
      <h4 class="h5 mb-0">
        <mat-icon class="v-top">database</mat-icon>
        Local storage
      </h4>
    </div>
    <div class="sky-card-body">
      <div class="container">
        <details>
          <summary>Information</summary>
          <p>
            By using local storage your data will be stored in your browser. This is the default option.<br/>
            Your data will be available on this device only and will be lost if you clear your browsing data in your browser.
          </p>
          <p>
            It is recommended to back up your data frequently.
          </p>
        </details>
      </div>
      <button class="mt" type="button" (click)="useLocalStorage()" [class.highlight]="!storageType">
        <mat-icon class="menu-icon">{{ storageType ? 'check_box_outline_blank' : 'done' }}</mat-icon>
        <span class="menu-label">Use local storage</span>
      </button>
    </div>
  </div>
  <!-- Dropbox -->
  <div class="sky-card">
    <div class="sky-card-header">
      <h4 class="h5 mb-0">
        <mat-icon class="v-top">cloud</mat-icon>
        Dropbox
      </h4>
    </div>
    <div class="sky-card-body">
      <div class="container">
        <details>
          <summary>Information</summary>
          <p>
            By using Dropbox your data will be stored in your Dropbox account. This allows you to access your data on any device.<br/>
            Your data will be available on every device connected to the same Dropbox account.
          </p>
          <p>
            Sky Planner will only be able to access its own folder in your Dropbox account.<br/>
            If the data can not be loaded, you be redirected back to this page with an error message.
          </p>
          <p>Visit <a href="https://www.dropbox.com/">Dropbox.com</a> if you do not have an account yet.</p>
        </details>
      </div>
      <div class="mt sky-flex flex-wrap">
        <button class="" type="button" (click)="useDropbox()" [class.highlight]="storageType === 'dropbox'">
          <mat-icon class="menu-icon">{{ storageType === 'dropbox' ? 'done' : 'check_box_outline_blank' }}</mat-icon>
          <span class="menu-label">Use Dropbox</span>
        </button>
        <button class="" type="button" (click)="linkDropbox()">
          <mat-icon class="menu-icon">link</mat-icon>
          <span class="menu-label">Connect to Dropbox</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="sky-card mt">
  <div class="sky-card-header">
    <h4 class="h5 mb-0">Continue to website</h4>
  </div>
  <div class="sky-card-body">
    <div class="grid grid-1">
      <a class="container" [routerLink]="'/'">
        <mat-icon class="menu-icon">home</mat-icon>
        <span class="menu-label">Go to Dashboard</span>
      </a>
      <a class="container" [routerLink]="'/settings'">
        <mat-icon class="menu-icon">manufacturing</mat-icon>
        <span class="menu-label">Go to Settings</span>
      </a>
    </div>
  </div>
</div>
