app-spirit-tree {
  vertical-align: bottom;
}

.tree-wrapper {
  display: inline-block;
}

.map-container {
  position: relative;
}

.map-container ::ng-deep .map {
  height: 240px;
}

.map-control {
  position: absolute;
  z-index: 9999;
  padding: var(--padding-content);
  color: var(--color-map-tooltip);
  background:  var(--color-map-tooltip-background);
  border-radius: var(--border-radius);
  width: 32px;
  height: 32px;

  mat-icon {
    position: absolute;
    bottom: 3px;
    left: 3px;
  }
}

.button-areas-off {
  mat-icon {
    opacity: 0.5;
  }
}

.map-control-tl {
  top: var(--padding-content);
  left: var(--padding-content);
}

.map-control-bl {
  bottom: var(--padding-content);
  left: var(--padding-content);
}

.realm-info-flex {
  display: grid;
  gap: 8px;
  // min-height: 184px;
  // height: 100%;
  grid-template-columns: 1fr;

  .map-container {
    min-height: 240px;
  }
}

.realm-constellation-flex {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
}

.constellation-progress-grid {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: var(--padding-content);
}

.constellation-bar {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25px;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 0 var(--padding-content);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-progress-empty-background);
  overflow: hidden;
}

.bar-c {background-color: var(--color-progress-background); }
.bar-h { background-color: var(--color-progress-background); }
.bar-ac { background-color: var(--color-progress-background); }
.bar-c .bar-fill { background-color: var(--color-progress-fill); }
.bar-h .bar-fill { background-color: var(--color-progress-fill); }
.bar-ac .bar-fill { background-color: var(--color-progress-fill); }

.bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.constellation-bar-full .bar-fill {
  background-color: var(--color-progress-full);
}

.constellation-bar-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media screen and (min-width: 992px) {
  .realm-info-flex {
    grid-template-columns: 1fr 384px;
  }

}

@media screen and (min-width: 720px) {
  .realm-constellation-flex {
    grid-template-columns: 1fr 384px;
  }
}
