<div class="card container">
  <h1 class="h2 mb-0">Spirit</h1>
</div>

<div class="card container mt-2">
  <h2 class="h3">{{ spirit.name }}</h2>
  <!-- Wiki link -->
  <div *ngIf="spirit._wiki?.href" class="wiki">
    <a [href]="spirit._wiki!.href" target="_blank">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </a>
  </div>
  <div class="container-flex spirit-img">
    <img *ngIf="spirit.imageUrl" [src]="spirit.imageUrl" [alt]="spirit.name" />
  </div>
</div>

<div class="card container mt-2 spirit-trees">
  <div class="container-flex spirit-trees-inner">
    <div *ngFor="let item of trees" class="tree-wrapper p-inline-block">
      <app-spirit-tree
        [tree]="item.tree" [name]="item.name"
        [highlight]="highlightTree === item.tree.guid"
        [highlightItem]="highlightItem"></app-spirit-tree>
    </div>
  </div>
</div>
