.tree-wrapper app-spirit-tree {
  vertical-align: bottom;
}

.wiki {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: var(--padding-content);

  border-radius: var(--border-radius-round);
  background: var(--color-background);

  mat-icon {
    position: absolute;
    top: 1px;
    right: 3px;
  }
}

.spirit-img {
  img {
    padding: 0 10px;
    width: auto;
    height: 192px;
    max-height: 192px;
  }
}

.spirit-trees {
  max-width: 100%;
}

.spirit-trees-inner {
  overflow: auto;
  max-width: 100%;
}
