
<div *ngIf="spirit" class="card-container">
  <h1>
    {{ spirit.name }}
  </h1>
  <div class="card-container-inner">
    <!-- Added tree-->
    <div *ngIf="tree" class="tree-wrapper p-inline-block">
      <app-spirit-tree  [tree]="tree" [name]="'Spirit tree'" [highlight]="false"></app-spirit-tree>
    </div>
    <!-- Spirit tree -->
    <div class="tree-wrapper p-inline-block">
      <app-spirit-tree *ngIf="spirit.tree"
        [tree]="spirit.tree" [name]="'Spirit tree'"
        [highlight]="highlightTree === spirit.tree.guid"></app-spirit-tree>
    </div>
    <!-- Traveling Spirit trees -->
    <ng-container *ngIf="spirit.ts">
      <ng-container *ngFor="let ts of spirit.ts; let ti = index;">
        <div class="tree-wrapper p-inline-block">
          <app-spirit-tree
            [tree]="ts.tree" [name]="'Traveling Spirit #' + ts.number"
            [highlight]="highlightTree === ts.tree.guid"></app-spirit-tree>
        </div>
      </ng-container>
    </ng-container>
    <!-- Visits -->
    <ng-container *ngIf="spirit.returns">
      <ng-container *ngFor="let visit of spirit.returns; let vi = index;">
        <div class="tree-wrapper p-inline-block">
          <app-spirit-tree
            [tree]="visit.tree" [name]="'Visit #' + (vi+1)"
            [highlight]="highlightTree === visit.tree.guid"></app-spirit-tree>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #costHover>
  <span>Total cost of all the items in this tree.</span><br/>
  <span class="remaining-cost">Remaining cost of items not yet unlocked.</span>
</ng-template>
