<header class="atmos-page__header">
  <h1 class="atmos-page__title">Spirits</h1>
</header>

<div class="atmos-spirits-overview">
  @for (link of links; track link.label) {
    <a class="atmos-spirits-overview__tile atmos-card atmos-focus-ring"
       [routerLink]="link.route"
       [queryParams]="link.queryParams ?? null">
      <span class="atmos-spirits-overview__icon">
        @if (link.type) {
          <app-spirit-type-icon [type]="link.type"></app-spirit-type-icon>
        } @else if (link.icon) {
          <mat-icon>{{ link.icon }}</mat-icon>
        }
      </span>
      <span class="atmos-spirits-overview__label">
        <span class="atmos-spirits-overview__name">{{ link.label }}</span>
        @if (link.count != null) {
          <span class="atmos-spirits-overview__count">({{ link.count }})</span>
        }
      </span>
    </a>
  }
</div>
