.loading {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: scaleX(-1);

  mat-icon {
    scale: 3;
  }

  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
  }

  .spin {
    animation: spin 2s linear infinite;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fade-in 2s ease-in;
  animation-fill-mode: forwards;
}

::ng-deep body {
  position: relative;
  left: var(--menu-width);
  width: calc(100% - var(--menu-width));
  padding: var(--padding-content);
}

.data-loss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0008;
  z-index: 999;
}

.data-loss-inner {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
