<div class="content">
  @if (isPagesDev) {
    <div class="sky-card mb">
      <div class="sky-card-body">
        <div class="container">
          <h4 class="mb-0">
            Oops. You're using an old link to the Sky Planner.<br/>
            Please visit the official <a href="https://sky-planner.com/">https://sky-planner.com/</a>.
          </h4>
        </div>
      </div>
    </div>
  }

  @if (isSandbox) {
    <div class="sky-card mb">
      <div class="sky-card-body">
        <div class="container">
          <h4 class="mb-0">
            You're on the sandbox version of the Sky Planner.<br/>
          </h4>
          <p>
            This version supports loading unverified content from other users. This should only be used for testing purposes.<br/>
            If you are simply trying to use the Sky Planner, please return to <a href="https://sky-planner.com/">https://sky-planner.com/</a>.
          </p>
        </div>
      </div>
    </div>
  }

  @if (showDataLoss) {
    <div class="sky-card mb data-loss">
      <div class="sky-card-body">
        <div class="data-loss-inner container">
          <mat-icon class="menu-icon">priority_high</mat-icon>
          <span class="menu-label">Data was changed in another tab. Please refresh this tab to avoid losing changes!</span>
        </div>
      </div>
    </div>
  }
  <router-outlet></router-outlet>
</div>

@if (showKeyboardShortcuts) {
  <app-overlay (close)="showKeyboardShortcuts=false" [title]="'Keyboard shortcuts'">
    <app-keyboard-shortcuts (close)="showKeyboardShortcuts=false"></app-keyboard-shortcuts>
  </app-overlay>
}

<footer>
  <div class="footer-flex">
    <a class="text-link" href="https://github.com/Silverfeelin/SkyGame-Planner/" title="View on GitHub">
      <img src="/assets/external/github-mark-white.svg" width="24" alt="View on GitHub">
    </a>
    <span class="show-desktop">|</span>
    <span>Images from the <a class="ws-nw" href="https://sky-children-of-the-light.fandom.com/">Sky: Children of the Light Wiki</a></span>
    <a class="footer-privacy" [routerLink]="'/privacy'">Privacy Policy</a>
  </div>
</footer>
