<div class="loading fade-in" *ngIf="!ready">
  <mat-icon class="spin" fontIcon="cached"></mat-icon>
</div>

<ng-container *ngIf="ready">
  <app-menu></app-menu>
  <div class="content">
    <router-outlet></router-outlet>
    <!-- <ng-container *ngFor="let spiritTree of spiritTrees;let i = index">
      <app-spirit-tree *ngIf="true" [constellation]="spiritTree" [name]="spiritTree?.spirit?.name || 'Unknown'"></app-spirit-tree>
    </ng-container> -->
    <app-status-bar></app-status-bar>
  </div>
</ng-container>
