.loading {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: scaleX(-1);

  mat-icon {
    scale: 3;
  }
}

.content {
  padding: var(--padding-content);
  min-height: 100vh;
  min-height: 100dvh;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fade-in 2s ease-in;
  animation-fill-mode: forwards;
}

.data-loss {
  position: sticky;
  top: 0;
  z-index: 99999;

  .sky-card-body {
    background: var(--color-danger-card-background);
    .container {
      color: var(--color-danger);
      border-color: var(--color-danger-accent);
      background-color: var(--color-danger-background);
    }
  }
}

.map-container {
  display: none;
}

footer {
  width: 100%;
  font-size: 14px;
  background: var(--color-background);
  color: white;
  padding: var(--padding-content);
  text-align: center;
}
