<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Create new event instance</h1>
  </div>
  <div class="sky-card-body">
    <div class="container">
      <div>
        <label>Date:</label>
        <input type="date" [formControl]="date" class="input-date-click">
      </div>
      <div>
        <label>End date:</label>
        <input type="date" [formControl]="endDate" class="input-date-click">
      </div>
      <div>
        <label for="chkDraft">Is draft: </label>
        <input id="chkDraft" type="checkbox" [formControl]="isDraft">
      </div>
      <div class="mt">
        <select [formControl]="eventGuid">
          <option value="">Select event...</option>
          <option *ngFor="let event of events" [value]="event.guid">{{ event.name }}</option>
        </select>
      </div>
      <div class="mt">
        <label>Calendar link:</label>
        <input type="text" [formControl]="calendarLink" class="input-text-click" />
      </div>
      <div class="mt">
        <button type="button" (click)="generate()">Generate</button>
      </div>
      <div class="mt sky-flex" *ngIf="instance" >
        <button type="button" (click)="copyInstance()">Copy instance</button>
        <button type="button" (click)="copyInstanceSpirits()">Copy spirits</button>
        <button type="button" (click)="copyShops()">Copy shops</button>
        <button type="button" (click)="copyIaps()">Copy iaps</button>
        <button type="button" (click)="copyTrees()">Copy trees</button>
        <button type="button" (click)="copyNodes()">Copy nodes</button>
      </div>
    </div>
  </div>
</div>
