<header class="atmos-topbar">
  <button class="atmos-topbar__button atmos-focus-ring" type="button" (click)="toggleDrawer()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button
    class="atmos-topbar__button atmos-focus-ring"
    type="button"
    [disabled]="!canGoBack()"
    (click)="goBack()"
    aria-label="Go back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="atmos-topbar__title">
    <span>Sky Planner</span>
  </div>
</header>

@if (drawerOpen()) {
  <div class="atmos-drawer" (click)="closeDrawer()">
    <nav class="atmos-drawer__panel" (click)="$event.stopPropagation()" aria-label="Primary">
      @for (item of mainNav; track item.link) {
        <a
          class="atmos-drawer__item"
          [routerLink]="item.link"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: !!item.exact }"
          (click)="closeDrawer()">
          @if (item.iconUrl) {
            <img class="atmos-drawer__img" [src]="item.iconUrl" alt="" />
          } @else if (item.svgIcon) {
            <mat-icon [svgIcon]="item.svgIcon"></mat-icon>
          } @else {
            <mat-icon>{{ item.icon }}</mat-icon>
          }
          <span>{{ item.label }}</span>
        </a>
      }

      <hr class="atmos-drawer__divider" />

      @for (item of footNav; track item.link) {
        @if (item.external) {
          <a
            class="atmos-drawer__item"
            [href]="item.link"
            target="_blank"
            rel="noopener"
            (click)="closeDrawer()">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </a>
        } @else {
          <a
            class="atmos-drawer__item"
            [routerLink]="item.link"
            routerLinkActive="is-active"
            (click)="closeDrawer()">
            @if (item.iconUrl) {
              <img class="atmos-drawer__img" [src]="item.iconUrl" alt="" />
            } @else if (item.svgIcon) {
              <mat-icon [svgIcon]="item.svgIcon"></mat-icon>
            } @else {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
            <span>{{ item.label }}</span>
          </a>
        }
      }
    </nav>
  </div>
}
