
@if (ready) {
  <router-outlet></router-outlet>
}
@else if (err) {
  <div class="overlay">
    <div class="overlay-body">
      <span>Something went wrong...</span>
      <span>Please report this error.</span>
      <pre class="br pad" style="background: #000;" (click)="copy($event)">{{ err }}</pre>
    </div>
  </div>
} @else {
  <div class="overlay loader" [class.loader-loading]="loading">
    <div class="overlay-body">
      <span>Loading data...</span>
      <mat-icon class="loader-icon">autorenew</mat-icon>
      <a class="c-accent" [routerLink]="'/storage'">Taking too long?</a>
    </div>
  </div>
}

@if (storageSaveError) {
  <div class="overlay">
    <div class="overlay-body">
      <span>Saving to storage failed.</span>
      <span>The error message is shown below.</span>

      <hr/>
      <pre class="mt mb c-warn-accent">{{ storageSaveError }}</pre>
      <hr/>

      <span>You can try to <span class="link" (click)="retrySaveStorage()">save again</span> or return to the <a [routerLink]="'/storage'">Storage page</a>.</span>
    </div>
  </div>
}
