.season-icon {
  width: var(--item-size);
  height: var(--item-size);
}

.season-icon-small {
  width: var(--item-size-small);
  height: var(--item-size-small);
}

.img {
  box-shadow: 0 0 16px 2px var(--color-image-inset) inset;
  border-radius: var(--border-radius);
  height: var(--img-preview-height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.item-icon {
  position: relative;
  width: var(--item-size);
  height: var(--item-size);
  background: var(--color-background);
  border-radius: var(--border-radius)
}
