.year:not(:first-child) {
  margin-top: 20px;
}

.seasons {
  display: grid;
  grid-template-columns: var(--columns-items-even);
  gap: 4px;
}

.season {
  padding: 10px 10px;
  border-radius: var(--border-radius-round);;
  background: var(--color-item-background);
}

h1 {
  margin-left: 5px;
}

.season-number {
  font-size: 1.5rem;
  vertical-align: middle;
}

.wiki {
  width: 28px;
  height: 28px;
  right: var(--padding-content);
  top: var(--padding-content);
  border-radius: var(--border-radius-round);
  background: var(--color-background);

  a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  mat-icon {
    position: absolute;
    top: 1px;
    right: 3px;
  }
}

.item {
  padding: 10px;
  background: var(--color-background);
  border-radius: var(--border-radius-round);
}

.link {
  cursor: pointer;

  &:hover {
    color: var(--color-link-hover);
  }
}

.menu-icon {
  position: absolute;
}

.menu-label {
  padding-left: 32px;
}
