.season-icon {
  width: var(--item-size);
  height: var(--item-size);
}

.season-icon-medium {
  width: var(--item-size-medium);
  height: var(--item-size-medium);
}

.img {
  box-shadow: 0 0 16px 2px var(--color-item-background) inset;
  border-radius: var(--border-radius-round);
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.active {
  box-shadow: var(--shadow-card-active);
  border-color: var(--color-item-active);
}
