<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">{{ rs.name }}</h1>
  </div>
</div>

<!-- Spirits -->
<div class="sky-card mt">
  <div class="sky-card-header">
    <h2 class="h3">Spirits</h2>
  </div>
  <div class="sky-card-body">
    <div class="scroll-x sky-flex">
      <!-- Spirit trees -->
      <ng-container *ngIf="rs.spirits?.length">
        <ng-container *ngFor="let spirit of rs.spirits;">
          <div class="tree-wrapper" *ngIf="spirit.tree">
            <app-spirit-tree [tree]="spirit.tree" [name]="spirit.spirit.name">
              <!-- Link to spirit -->
              <div name>
                <a [routerLink]="['/spirit', spirit.spirit.guid]" [queryParams]="{ highlightTree: spirit.tree.guid }">
                  {{ spirit.spirit.name }}
                </a>
              </div>
            </app-spirit-tree>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
