
.search {
  position: relative;
  cursor: pointer;

  input {
    padding-left: 32px;
  }

  mat-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card-friend {
  min-width: 280px;
}
