@if (!event || currencyPerDay === undefined) {
  <div class="sky-card">
    <div class="sky-card-header">
      <h1 class="h2 mb-0">Event Calculator</h1>
    </div>
    <div class="sky-card-body">
      <div class="container">
        @if (!event) {
          There is no ongoing event and the website hasn't been updated to include any upcoming events yet.<br/><br/>
          Please check back later.
        } @else if (!hasSpirits) {
          @if (eventInstance && eventInstance.draft) { The Sky Planner has no data for this event yet! }
          @else { This event has no cosmetics, so there is nothing to calculate! }
        } @else {
          There is no event currency data available for the event.<br/><br/>
          Please check back later or report this the URL of this page on <a href="https://github.com/Silverfeelin/SkyGame-Planner">GitHub</a> if it's taking too long.
        }
      </div>
    </div>
  </div>
} @else {
  <div class="sky-card">
    <div class="sky-card-header">
      <h1 class="h2 mb-0">
        {{event.name}} {{year}} <span class="c-accent h3">Calculator</span>
      </h1>
    </div>

    <div class="sky-card-body">
      <div class="sky-flex flex-wrap">
        <a class="button" [routerLink]="['/event-instance', eventInstance.guid]">
          <mat-icon class="menu-icon">arrow_back</mat-icon>
          <span class="menu-label">Event</span>
        </a>
        <a class="button" routerLink="/currency">
          Currencies
        </a>
        <a class="button" href="https://sky-event-calculator.netlify.app/" target="_blank">
          <mat-icon class="menu-icon">open_in_new</mat-icon>
          <span class="menu-label">Stoat's Calculator</span>
        </a>
      </div>
      @if (concluded) {
        <div class="container mt">
          <mat-icon class="result-warn">priority_high</mat-icon>
          <b class="c-old">This event has concluded!</b>
        </div>
      }
      @if (eventInstance.draft) {
        <div class="container mt mb">
          <mat-icon class="menu-icon">warning</mat-icon>
          <span class="menu-label">
            We're still working on this content. Thank you for your patience.
          </span>
        </div>
      }
      <div class="container mt sky-flex flex-cols flex-align-start gap-half">
        <b>Settings</b>
        <!-- Currencies -->
        <div>
          Your current event currency:
          <mat-icon [svgIcon]="'ticket'" class="v-middle"></mat-icon>
          <input #inpEc (blur)="onCurrencyInputBlur($event)" type="number" min="0" max="99999" (input)="onCurrencyInput($event)" [value]="currencyCount" class="d-inline-block br-r-0 input-no-arrows" style="width: 64px;"/>
          <button type="button" class="button-sc br-l-0 br-r-0" (click)="addCurrency(1)">+1</button>
          <button type="button" class="button-sc br-l-0" (click)="addCurrency()">+{{currencyPerDay}} (daily)</button>
        </div>
        <div>
          Today's daily currency:
          <button type="button" (click)="toggleIncludesToday()">
            <mat-icon class="calc-button-icon">{{ includesToday ? 'check' : 'close' }}</mat-icon>
            <span class="calc-button-label">{{ includesToday ? 'obtained' : 'not obtained' }}</span>
          </button>
        </div>
        <div>
          Your current candles:
          <mat-icon [svgIcon]="'candle'" class="v-middle"></mat-icon>
          <input #inpC (blur)="onCurrencyInputBlur($event)" type="number" min="0" max="99999" (input)="onCurrencyInput($event)" [value]="candleCount" class="d-inline-block input-no-arrows" style="width: 64px;"/>
        </div>
        <div>
          Your current hearts:
          <mat-icon [svgIcon]="'heart'" class="v-middle"></mat-icon>
          <input #inpH (blur)="onCurrencyInputBlur($event)" type="number" min="0" max="99999" (input)="onCurrencyInput($event)" [value]="heartCount" class="d-inline-block input-no-arrows" style="width: 64px;"/>
        </div>
        <div>
          Your current ascended candles:
          <mat-icon [svgIcon]="'ascended-candle'" class="v-middle"></mat-icon>
          <input #inpAc (blur)="onCurrencyInputBlur($event, true)" type="number" min="0" max="99999" step="0.25" (input)="onCurrencyInput($event)" [value]="acCount" class="d-inline-block" style="width: 100px;"/>
        </div>

        @if (timedCurrencies.length) {
          <div>
            <hr class="mt-half mb"/>
            <div>
              This event includes some activities that reward extra event currency.<br/>
              Please enter how much you have collected from these activities below.<br/>
              Your current event currency should always be entered at the top of the page, including the ones from these activities!
            </div>
            @for (timedCurrency of timedCurrencies; track timedCurrency.guid) {
              <hr class="mt mb"/>
              <div>
                @if (timedCurrency.endDate < now) {
                  @if (timedCurrency.description) { <b>{{ timedCurrency.description }}</b> <br/> }
                  Between <b class="c-old">{{ timedCurrency.date | datetime }}</b>
                  and <b class="c-old">{{ timedCurrency.endDate | datetime }}</b>
                  you were able to get <b>{{ timedCurrency.amount}}</b> extra event currency.<br/>
                  Please enter how much you collected during this period:
                } @else if (timedCurrency.date > now) {
                  @if (timedCurrency.description) { <b>{{ timedCurrency.description }}</b> <br/> }
                  Between <b>{{ timedCurrency.date | datetime }}</b>
                  and <b>{{ timedCurrency.endDate | datetime }}</b>
                  you will be able to get <b>{{ timedCurrency.amount}}</b> extra event currency.<br/>
                  Please keep this value at <b>0</b> until the currency becomes available:
                } @else {
                  @if (timedCurrency.description) { <b>{{ timedCurrency.description }}</b> <br/> }
                  Between <b class="c-new">{{ timedCurrency.date | datetime }}</b>
                  and <b class="c-new">{{ timedCurrency.endDate | datetime }}</b>
                  you can get <b>{{ timedCurrency.amount}}</b> extra event currency.<br/>
                  Please enter how much you have collected so far:
                }
                <input #inpTimed [attr.data-guid]="timedCurrency.guid" (blur)="onCurrencyInputBlur($event)" type="number" min="0" max="99999" (input)="onCurrencyInput($event)" [value]="timedCurrencyCount[timedCurrency.guid]" class="d-inline-block input-no-arrows" style="width: 64px;"/>
              </div>
            }
          </div>
        }
      </div>

      <div class="container mt sky-flex flex-cols flex-align-start gap-half">
        <div>
          You want:
          <div class="d-inline-block">
            <button type="button" (click)="selectEverything()">everything</button>&nbsp;
            <button type="button button-danger" (click)="selectNothing()">nothing</button>
          </div>
        </div>
        <div class="">
          You can also choose what items you want by clicking on the items below and then clicking "Want".<br/>
          If you already own the item, you should click "Have" to mark it as owned.
        </div>
      </div>

      <div class="container mt sky-flex flex-cols flex-align-start gap-half">
        <b>Result</b>
        @if (!hasNodes) {
          <blockquote class="mb-0">
            <mat-icon class="result-warn">priority_high</mat-icon>
            You have not selected any items!
          </blockquote>
        }
        @if (hasSkippedNode) {
          <blockquote class="mb-0">
            <mat-icon class="result-warn">priority_high</mat-icon>
            Required items leading up to the items you want are included in the calculations!
          </blockquote>
        }
        <div>
          You currently have
          <mat-icon [svgIcon]="'ticket'" class="v-middle"></mat-icon>&nbsp;<b class="c-new">{{ currencyCount || 0 }}</b>
          event currency,
          <mat-icon [svgIcon]="'candle'" class="v-middle"></mat-icon>&nbsp;<b class="c-new">{{ candleCount || 0 }}</b>
          {{ candleCount === 1 ? 'candle' : 'candles' }},
          <mat-icon [svgIcon]="'heart'" class="v-middle"></mat-icon>&nbsp;<b class="c-new">{{ heartCount || 0 }}</b>
          {{ heartCount === 1 ? 'heart' : 'hearts' }}
          and
          <mat-icon [svgIcon]="'ascended-candle'" class="v-middle"></mat-icon>&nbsp;<b class="c-new">{{ acCount || 0 }}</b>
          {{ acCount === 1 ? 'ascended candle' : 'ascended candles' }}.
        </div>
        <div>
          You will be able to get
          <b class="c-new">{{ currencyPerDay }}</b>
          event currency every day for <b class="c-new">{{ daysLeft }}</b> more {{ daysLeft === 1 ? 'day' : 'days' }}.
        </div>
        @if (timedCurrencies.length) {
          @for (timedCurrency of timedCurrencies; track timedCurrency.guid) {
            @if (!timedCurrencyRemaining[timedCurrency.guid]) {
              <div>
                You got all
                <b class="c-new">{{ timedCurrency.amount }}</b>
                extra event currency between
                <b>{{ timedCurrency.date | datetime }}</b> and <b>{{ timedCurrency.endDate | datetime }}</b>.
              </div>
            } @else if (timedCurrency.endDate < now) {
              <div>
                You missed
                <b class="c-old">{{ timedCurrencyRemaining[timedCurrency.guid] || 0 }}</b>
                extra event currency between
                <b>{{ timedCurrency.date | datetime }}</b> and <b>{{ timedCurrency.endDate | datetime }}</b>.
              </div>
            } @else {
              <div>
                You will be able to get
                <b class="c-new">{{ timedCurrencyRemaining[timedCurrency.guid] || 0 }}</b>
                extra event currency between
                <b>{{ timedCurrency.date | datetime }}</b> and <b>{{ timedCurrency.endDate | datetime }}</b>.
              </div>
            }
          }
        }
        <div>
          If you do not miss any, you will be able to get
          <b class="c-new">{{ currencyAvailable }}</b>
          more event currency before the event concludes.
        </div>
        <div>
          You still need to collect
          <b class="c-new">{{ currencyRequired }}</b>
          event currency to get the items you want.
        </div>
        @if (currencyRequired > currencyAvailable) {
          <b class="c-old">
            You will not be able to collect enough event currency before the event concludes.<br/>You should prioritize the items you want most or check if you can get extra event currency from shops.
          </b>
          <div>
            You will be short <b class="c-old">{{ currencyRequired - currencyAvailable }}</b> event currency.
          </div>
        } @else {
          @if (hasNodes) {
            <b class="c-new">
              You will be able to collect enough event currency before the event concludes.
            </b>
            @if (currencyAvailable > currencyRequired) {
              <div>
                You can miss out on
                <b class="c-new">{{ currencyAvailable - currencyRequired }}</b>
                event currency and still have enough to get these items.
              </div>
            }
          }
        }

        @if (candlesRequired > 0) {
          <div class="result-border-top">
            You will also need to collect
            <mat-icon [svgIcon]="'candle'" class="v-middle"></mat-icon>&nbsp;
            <b class="c-new">{{ candlesRequired }}</b>
            {{ candlesRequired === 1 ? 'candle' : 'candles' }}
            to get the items you want.
          </div>
          <div>
            In
            <b class="c-new">{{ daysLeft }}</b>
            {{ daysLeft === 1 ? 'day' : 'days' }} you should be able to get around
            <mat-icon [svgIcon]="'candle'" class="v-middle"></mat-icon>&nbsp;
            <b class="c-new">{{ candlesAvailable}}</b> candles,
            which is
            @if (candlesAvailable >= candlesRequired) {
              <b class="c-new">enough</b>
            } @else {
              <b class="c-old">not enough</b>
            }.
          </div>
        }
        @if (heartsRequired > 0) {
          <div [class.result-border-top]="candlesRequired <= 0">
            You will also need to collect
            <mat-icon [svgIcon]="'heart'" class="v-middle"></mat-icon>&nbsp;
            <b class="c-new">{{ heartsRequired }}</b>
            {{ heartsRequired === 1 ? 'heart' : 'hearts' }}
            to get the items you want.
          </div>
        }
        @if (acRequired > 0) {
          <div [class.result-border-top]="candlesRequired <= 0 && heartsRequired <= 0">
            You will also need to collect
            <mat-icon [svgIcon]="'ascended-candle'" class="v-middle"></mat-icon>&nbsp;
            <b class="c-new">{{ acRequired }}</b>
            {{ acRequired === 1 ? 'ascended candle' : 'ascended candles' }}
            to get the items you want.
          </div>
        }
      </div>
    </div>
  </div>

  @if (shops.length) {
    <div class="sky-card mt">
      <div class="sky-card-body">
        <div class="sky-flex scroll-x tree-scroll">
          @for (shop of shops; track shop.guid) {
            <app-item-list [itemList]="shop.itemList!" [opaqueNodes]="true" [nodeOverlayTemplate]="tShopNode"></app-item-list>
          }
        </div>
      </div>
    </div>
  }

  @if (spirits.length) {
  <div class="sky-card mt">
    <!-- <div class="sky-card-header">
      <h1 class="h2 mb-0"></h1>
    </div> -->
    <div class="sky-card-body">
        <div class="sky-flex scroll-x tree-scroll">
          @for (spiritInstance of spirits; track spiritInstance.guid) {
            <app-spirit-tree [tree]="spiritInstance.tree" [name]="spiritInstance.name || spiritInstance.spirit.name || ''"
              [enableControls]="false" [forceNodeAction]="'emit'" [nodeOverlayTemplate]="tNode" [opaqueNodes]="true" [padBottom]="true">
            </app-spirit-tree>
          }
        </div>
      </div>
    </div>
  }
}

<ng-template #tShopNode let-node>
  <div class="list-node-show-hover"
  [class.node-have]="node.item?.unlocked" [class.node-want]="wantListNodes[node.guid]"
  (click)="toggleButtons(node)"
>
  <div class="node-overlay" [class.o-1]="nodeShowButtons === node"
  >
    <div class="list-node-buttons" [class.node-align-top]="firstNodes[node.guid]">
      <button class="btn-want" type="button" (click)="wantListNode(node, $event)">
        <mat-icon class="calc-button-icon" [class.c-check]="wantListNodes[node.guid]">
          {{ wantListNodes[node.guid] ? 'check' : 'close' }}
        </mat-icon>
        <span class="calc-button-label">Want</span>
      </button><br/>
      <button class="btn-have" type="button" (click)="haveListNode(node, $event)" >
        <mat-icon class="calc-button-icon" [class.c-check]="node.item?.unlocked">
          {{ node.item?.unlocked ? 'check' : 'close' }}
        </mat-icon>
        <span class="calc-button-label">Have</span>
      </button>
    </div>
  </div>
</div>
</ng-template>

<ng-template #tNode let-node>
  <div class="node-show-hover"
    [class.node-have]="node.item?.unlocked" [class.node-want]="wantNodes[node.guid]"
    (click)="toggleButtons(node)"
  >
    <div class="node-overlay" [class.o-1]="nodeShowButtons === node"
    >
      <div class="node-buttons" [class.node-align-top]="firstNodes[node.guid]">
        <button class="btn-want" type="button" (click)="wantNode(node, $event)">
          <mat-icon class="calc-button-icon" [class.c-check]="wantNodes[node.guid]">
            {{ wantNodes[node.guid] ? 'check' : 'close' }}
          </mat-icon>
          <span class="calc-button-label">Want</span>
        </button><br/>
        <button class="btn-have" type="button" (click)="haveNode(node, $event)" >
          <mat-icon class="calc-button-icon" [class.c-check]="node.item?.unlocked">
            {{ node.item?.unlocked ? 'check' : 'close' }}
          </mat-icon>
          <span class="calc-button-label">Have</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
