:host {
  display: flex;
  flex-direction: column;
  gap: var(--atmos-gap);
}

.atmos-tree-view__card {
  align-items: center;
}

.atmos-tree-view__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--atmos-pad);
  overflow-x: auto;
}
