<!-- <app-grid [rows]="gridRows">
  <ng-template appGridColumn let-row="row">{{ row | json }}</ng-template>
</app-grid> -->

<div class="grid">
  <div class="item">
    <h1>Isle of Dawn</h1>
    Test
  </div>
  <div class="item">
    <h1>Daylight Prairie</h1>
    Test
  </div>
  <div class="item">
    <h1>Hidden Forest</h1>
    Test
  </div>
  <div class="item">
    <h1>Valley of Triumph</h1>
    Test
  </div>
  <div class="item">
    <h1>Golden Wasteland</h1>
    Test
  </div>
  <div class="item">
    <h1>Vault of Knowledge</h1>
    Test
  </div>
</div>
