<ng-container *ngFor="let type of types">
  <div class="items mt" [class.swapping]="swapping">
    <ng-container *ngFor="let item of typeItems[type]">
      <div class="item" [class.highlight]="swapping?.guid === item.guid" (click)="swap(type, item)">
        <div class="item-image">
          <img class="item-icon" [src]="item.icon" [alt]="item.name">
        </div>
      </div>
    </ng-container>
  </div>
  <div class="container mt">
    <ng-container *ngFor="let swap of typeSwaps[type]">
      <div class="swap-details">
        <kbd (click)="copyText($event)">{{ swap.item.name }}</kbd>&nbsp;<kbd (click)="copyText($event)">{{swap.item.guid}}</kbd>
        collides with
        <kbd (click)="copyText($event)">{{ swap.prev?.name }}</kbd>&nbsp;<kbd (click)="copyText($event)">{{swap.prev?.guid}}</kbd><br/>
        <kbd (click)="copyText($event)">{{ swap.old }}</kbd> -> <kbd (click)="copyText($event)">{{ swap.new }}</kbd>
        <hr/>
      </div>
    </ng-container>
  </div>
</ng-container>
