<ng-container *ngFor="let type of types">
  <div class="items" [class.swapping]="swapping">
    <ng-container *ngFor="let item of typeItems[type]">
      <div class="item" [class.highlight]="swapping?.guid === item.guid" (click)="swap(type, item)">
        <div class="item-image">
          <img class="item-icon" [src]="item.icon" [alt]="item.name">
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <ng-container *ngFor="let swap of typeSwaps[type]">
      <div>{{ swap.item.name }} | {{ swap.old }} | {{ swap.new }}</div>
    </ng-container>
  </div>
</ng-container>
