.unlock-step {
  display: inline-block;
  position: absolute;
  top: var(--padding-content);
  right: var(--padding-content);
}

.item-grid {
  display: grid;
  margin-top: var(--padding-content-half);
  gap: var(--padding-content-half);

}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: var(--color-background);
  border: 1px solid #888;
  border-radius: var(--border-radius);
  padding: 2px;
}

.item-visible { background: #4d3000; }
.item-locked { background: #5a1818; }
.item-unlocked { background: #0c370c; }

.music-locked {
  color: red;
  text-decoration: line-through;
}
