<div class="recurring">
  <h1 class="">Recurring events</h1>
  <div class="card-grid card-grid-even">
    <div class="card p-rel" *ngFor="let event of recurring; let i = index;">
      <ng-container *ngTemplateOutlet="eventDiv; context: {$implicit: event}"></ng-container>
    </div>
  </div>
</div>

<div class="old">
  <h1 class="">Past events</h1>
  <div class="card-grid card-grid-even">
    <div class="card p-rel" *ngFor="let event of old; let i = index;">
      <ng-container *ngTemplateOutlet="eventDiv; context: {$implicit: event}"></ng-container>
    </div>
  </div>
</div>

<ng-template #eventDiv let-event>
  <h1>
    {{ event.name }}
  </h1>
  <!-- Wiki -->
  <div class="wiki p-abs" *ngIf="event._wiki?.href">
    <a [href]="event._wiki!.href" target="_blank" [ngbTooltip]="'Open wiki'" placement="left" container="body">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </a>
  </div>
  <!-- Overview -->
  <a class="mt-2 item" [routerLink]="['/event', event.guid]">
    <mat-icon class="menu-icon" fontIcon="article"></mat-icon>
    <span class="menu-label">
      Overview
    </span>
  </a>
</ng-template>
