<div class="sky-card p-rel" *ngIf="season">
  <div class="sky-card-header">
    <h2 class="h3 mb-0">
      <img class="season-icon" [src]="season.iconUrl" />
      {{ season.name }}
      <span class="h5 c-accent number">#{{ season.number }}</span>
    </h2>
  </div>
  <div class="sky-card-body grid grid-1">
    <!-- Image -->
    <div *ngIf="sections['img'] && season.imageUrl"
      class="season-img sky-border-solid" [style.order]="sections['img']"
      [style.background-image]="'url('+season.imageUrl+')'"
      [style.background-position]="season.imagePosition || undefined">
    </div>
    <!-- Overview -->
    <a *ngIf="sections['overview']" [routerLink]="['/season', season.guid]"
      class="item link" [style.order]="sections['overview']">
      <mat-icon class="menu-icon">article</mat-icon>
      <span class="menu-label">Overview</span>
    </a>
    <!-- Spirits -->
    <a *ngIf="sections['spirits']" [routerLink]="'/spirit'" [queryParams]="{ season: season.guid, type: 'Season,Guide' }"
      class="item link" [style.order]="sections['spirits']">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-label">Spirits <span class="c-accent">({{ season.spirits.length - 1 }})</span></span>
    </a>
    <!-- Date -->
    <div *ngIf="sections['date']"
      class="item" [style.order]="sections['date']">
      <mat-icon class="menu-icon">calendar_month</mat-icon>
      <span class="menu-label">
        {{ season.date | dayjs }} to {{ season.endDate | dayjs }}
        <span class="c-accent">
          (<app-days-left [start]="season.date" [end]="season.endDate"></app-days-left>)
        </span>
      </span>
    </div>
    <!-- Cost -->
    <div *ngIf="sections['cost'] && cost"
      class="item" [style.order]="sections['cost']"
    >
      <mat-icon class="menu-icon">sell</mat-icon>
      <span class="menu-label">
        <div class="d-inline-block">
          <app-cost [cost]="cost" [remaining]="remainingCost" [borderLeft]="true"></app-cost>
        </div>
      </span>
    </div>
  </div>
</div>
