<header class="atmos-page__header">
  <h1 class="atmos-page__title">Todo</h1>
</header>

<div class="atmos-page__intro">
  <p class="atmos-paragraph">
    This page lists a few common tasks like missing item and spirit data or missing links to the wiki.<br/>
    Generally caused by preparing content before a game update is live.
  </p>
</div>

<div class="atmos-card">
  <div class="atmos-card__header">Missing preview icon</div>
  <div class="atmos-card__body" style="gap: 8px">
    @for (item of itemsWithoutPreview; track item.guid) {
      <div>
        <app-item-icon [item]="item"[opaque]="true"></app-item-icon>
        <code (click)="copy(item.guid)" class="atmos-code editor-todo__code">{{item.guid}}</code>&nbsp;<a [href]="'/item/' + item.guid">{{ item.name }}</a>
        @if (item._wiki?.href) {
          <div><a [href]="item._wiki!.href" target="_blank">[wiki]</a></div>
        }
      </div>
    }
  </div>
</div>

<div class="atmos-card">
  <div class="atmos-card__header">Missing item order</div>
  <div class="atmos-card__body" style="gap: 8px">
    @for (item of itemsWithoutOrder; track item.guid) {
      <div>
        <app-item-icon [item]="item"[opaque]="true"></app-item-icon>
        <code (click)="copy(item.guid)" class="atmos-code editor-todo__code">{{item.guid}}</code>&nbsp;<a [href]="'/item/' + item.guid">{{ item.name }}</a>
      </div>
    }
  </div>
</div>

<div class="atmos-card">
  <div class="atmos-card__header">Missing item wiki link</div>
  <div class="atmos-card__body" style="gap: 8px">
    @for (item of itemsWithoutWiki; track item.guid) {
      <div>
        <app-item-icon [item]="item"[opaque]="true"></app-item-icon>
        <code (click)="copy(item.guid)" class="atmos-code editor-todo__code">{{item.guid}}</code>&nbsp;<a [href]="'/item/' + item.guid">{{ item.name }}</a>
      </div>
    }
  </div>
</div>

<div class="atmos-card">
  <div class="atmos-card__header">Missing spirit image</div>
  <div class="atmos-card__body" style="gap: 8px">
    @for (spirit of spiritsWithoutPreview; track spirit.guid) {
      <div>
        <code (click)="copy(spirit.guid)" class="atmos-code editor-todo__code">{{spirit.guid}}</code>&nbsp;<span>{{ spirit.name }}</span>
      </div>
    }
  </div>
</div>

<div class="atmos-card">
  <div class="atmos-card__header">Missing spirit wiki link</div>
  <div class="atmos-card__body" style="gap: 8px">
    @for (spirit of spiritsWithoutWiki; track spirit.guid) {
      <div>
        <code (click)="copy(spirit.guid)" class="atmos-code editor-todo__code">{{spirit.guid}}</code>&nbsp;<span>{{ spirit.name }}</span>
      </div>
    }
  </div>
</div>
