<div *ngFor="let shop of shops; let i = index;">
  <!-- Shop name -->
  <h1 *ngIf="shop.type === 'store'">Premium Candle Store</h1>
  <h1 *ngIf="shop.spirit">{{ shop.spirit.name }}</h1>

  <div class="card-grid card-grid-even" *ngIf="shop.iaps?.length">
    <div class="card p-rel" *ngFor="let iap of shop.iaps">
      <h1>
        <ng-container *ngIf="iap.name">{{ iap.name }}</ng-container>
      </h1>

      <!-- Returning -->
      <div class="mt-2 item">
        <mat-icon class="menu-icon" [fontIcon]="iap.returning ? 'undo' : 'grade'"></mat-icon>
        <span class="menu-label">
          <span *ngIf="iap.returning" class="c-old">Returning IAP</span>
          <span *ngIf="!iap.returning" class="c-new">New  IAP</span>
        </span>
      </div>

      <!-- Price -->
      <div class="mt-2 item">
        <mat-icon class="menu-icon" fontIcon="attach_money"></mat-icon>
        <span class="menu-label" [ngbTooltip]="'Price of the IAP in USD.'">
          {{ iap.price }}
          <!-- {{ iap.name }} -->
        </span>
      </div>
      <!-- Currencies -->
      <div class="mt-2 item" *ngIf="iap.c || iap.sc">
        <ng-container *ngIf="iap.c">
          <mat-icon class="menu-icon" svgIcon="candle"></mat-icon>
          <span class="menu-label">
            {{ iap.c }}
          </span>
        </ng-container>
        <ng-container *ngIf="iap.sc">
          <mat-icon class="menu-icon" svgIcon="season-candle"></mat-icon>
          <span class="menu-label">
            {{ iap.sc }}
          </span>
        </ng-container>
      </div>
      <!-- Items -->
      <div class="mt-2 item iap-items">
        <div class="iap-item point" *ngFor="let item of iap.items" (click)="togglePurchased(iap)">
          <app-item [item]="item" [ngbTooltip]="itemHover" placement="bottom" container="body"></app-item>
          <mat-icon class="unlock-check" [class.unlocked]="iap.bought || item?.unlocked" [class.self]="iap.bought" fontIcon="done"></mat-icon>
          <ng-template #itemHover>
            <ng-container *ngIf="item">
              <span class="ws-nw">{{item.name}}</span>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
