<div class="sky-card">
  <div class="sky-card-header">
    <h1 class="h2 mb-0">Permanent In-App Purchases</h1>
  </div>
  <div class="sky-card-body">
    <a class="container d-inline-block" href="https://sky-children-of-the-light.fandom.com/wiki/Premium_Candle_Shop" target="_blank">
      <mat-icon class="menu-icon">question_mark</mat-icon>
      <span class="menu-label">Wiki</span>
    </a>
  </div>
</div>

<!-- IAPs -->
<div *ngIf="shops?.length" class="grid grid-4 mt">
  <ng-container *ngFor="let shop of shops">
    <ng-container *ngIf="shop.iaps?.length">
      <div class="sky-card p-rel" *ngFor="let iap of shop.iaps" [class.highlight]="iap.guid === highlightIap">
        <div class="sky-card-header">
          <h3 class="h4 mb-0" [ngbTooltip]="iap.name" container="body">
            {{ iap.name }}
          </h3>
        </div>
        <div class="sky-card-body">
          <!-- Location -->
          <div class="item">
            <mat-icon class="menu-icon">location_on</mat-icon>
            <span class="menu-label">
              <span *ngIf="shop.name">{{ shop.name }}</span>
              <span *ngIf="!shop.name && shop.type === 'Store'">Premium Candle Store</span>
              <span *ngIf="!shop.name && shop.type !== 'Store'">{{ shop.name ?? shop.spirit?.name }}</span>
            </span>
          </div>
          <!-- Price -->
          <div class="item mt-half">
            <mat-icon class="menu-icon">attach_money</mat-icon>
            <span class="menu-label" [ngbTooltip]="'Price of the IAP in USD.'" container="body">
              {{ iap.price }}
            </span>
          </div>
          <!-- Currencies -->
          <div class="item mt-half" *ngIf="iap.c || iap.sc || iap.sp">
            <ng-container *ngIf="iap.c">
              <mat-icon class="menu-icon" svgIcon="candle" [ngbTooltip]="'Regular candles'" container="body" placement="right"></mat-icon>
              <span class="menu-label">
                {{ iap.c }}
              </span>
            </ng-container>
            <ng-container *ngIf="iap.sc">
              <mat-icon class="menu-icon" svgIcon="season-candle" [ngbTooltip]="'Season candles'" container="body" placement="right"></mat-icon>
              <span class="menu-label">
                {{ iap.sc }}
              </span>
            </ng-container>
            <ng-container *ngIf="iap.sp">
              <mat-icon class="menu-icon seasonal" svgIcon="gift" [ngbTooltip]="'Gift Season Pass'" container="body" placement="right"></mat-icon>
              <span class="menu-label">
                {{ iap.sp }}
              </span>
            </ng-container>
          </div>
          <!-- Items -->
          <div class="item iap-items mt-half">
            <div class="iap-item point d-inline-block p-rel" *ngFor="let item of iap.items" (click)="togglePurchased($event, iap)">
              <app-item [item]="item" [ngbTooltip]="itemHover" placement="bottom" container="body"></app-item>
              <mat-icon class="unlock-check" [class.unlocked]="item?.unlocked" [class.self]="iap.bought">done</mat-icon>
              <ng-template #itemHover>
                <ng-container *ngIf="item">
                  <span class="ws-nw">{{item.name}}</span>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
