.grid-tree {
  display: grid;
  grid-gap: 16px;
  padding-top: 96px;
}

.grid-tree-cell {
  position: relative;
  background-color: var(--color-background);
  padding: var(--padding-content);
  text-align: center;
  border-radius: var(--border-radius);
  border: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.grid-tree-cell-offset-y {
  transform: translateY(-96px);
}

.grid-tree-item-missing {
  display: inline-block;
  vertical-align: top;
  width: var(--item-size);
  height: var(--item-size);
}

.arrow {
  position: absolute;
  background: #fff;
  width: 5px;
}

.arrow-left {
  transform: translateY(-50%) rotate(-45deg);
  height: 22px;
  left: -11px;
  top: 50%;
}

.arrow-up {
  height: 16px;
  top: -17px;
  left: 50%;
  transform:translateX(-50%);
}

.arrow-right {
  transform: translateY(-50%) rotate(45deg);
  height: 22px;
  right: -11px;
  top: 50%;
}

button mat-icon:only-child {
  vertical-align: top;
}











.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
}

.grid-item {
  position: relative;
  background-color: var(--color-background);
  padding: var(--padding-content);
  padding-top: 25px;
  text-align: center;
}

.grid-item-connection {
  position: absolute;
  background: #800;
  top: 0;
  padding: 2px;
  line-height: 16px;

  &.green {
    background: #080;
  }
}

.grid-item-nw {
  left: 0;
}

.grid-item-n {
  left: 50%;
  transform: translateX(-50%);
}

.grid-item-ne {
  right: 0;
}

input {
  display: inline-block;
  line-height: 14px;
  font-size: 14px;
}

.input-cost {
  width: 60px;
}

.input-guid {
  width: 120px;
}
