<div>
  Nodes<br/>

  <div class="grid-container">
    <div class="grid-item" *ngFor="let node of formNodes; let i = index;">
      <div *ngIf="i%3===1"
        class="grid-item-connection grid-item-nw" [class.green]="node.nw"
        (click)="toggleConnection(node, 'nw')">NW</div>
      <div class="grid-item-connection grid-item-n" [class.green]="node.n"
        (click)="toggleConnection(node, 'n')">N</div>
      <div *ngIf="i%3===1"
        class="grid-item-connection grid-item-ne" [class.green]="node.ne"
        (click)="toggleConnection(node, 'ne')">NE</div>

      <div>
        <div class="d-inline-block">{{node.itemRef?.name || ''}}&nbsp;</div>
        <div class="d-inline-block "><b *ngIf="node.item" (click)="copyNodeToClipboard(node)">{{node.item}}</b></div>

        <input (input)="itemInputChanged($event, i)" (keydown)="itemInputEnter($event, i)" (blur)="itemInputBlur($event, i)">
      </div>

      <div class="mt-1">
        <mat-icon svgIcon="candle"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.c">
        <mat-icon svgIcon="heart"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.h">
        <mat-icon svgIcon="candle" class="seasonal"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.sc">
        <mat-icon svgIcon="heart" class="seasonal"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.sh">
        <mat-icon svgIcon="ascended-candle"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.ac">
        <mat-icon svgIcon="ticket" [inline]="false"></mat-icon>
        <input class="cost" type="number" [(ngModel)]="node.ec">
      </div>
    </div>
  </div>
</div>

<button type="button" (click)="submit()">Generate</button>

<div *ngIf="result">
  <button type="button" (click)="copyToClipboard('tree')">
    Copy Tree
  </button>
  <button type="button" (click)="copyToClipboard('nodes')">
    Copy Nodes
  </button>
  <button type="button" (click)="copyToClipboard('items')">
    Copy Items
  </button>
</div>
