aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--menu-width);
  background-color: var(--color-menu-background);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid var(--color-border);
}

.header {
  position: relative;
  font-size: 24px;
  text-align: left;
  text-decoration: none;

  &:hover {
    background-color: var(--color-menu-item-active-background);
  }

  mat-icon {
    position: relative;
    top: 3px;
  }
}

.title {
  padding-left: 4px;
}

.items {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: stretch;
  position: relative;
  font-size: 18px;
}

.item {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-menu-item-background);
}

.bottom {
  margin-top: auto;
}

.item.menu-active {
  background-color: var(--color-menu-item-active-background);
}

.item:hover {
  background-color: var(--color-menu-item-active-background);
}

.item mat-icon {
  vertical-align: sub;
}

.item span {
  padding-left: 10px;
}

a:hover, a:focus, a:active, a:visited {
  color: unset;
}

hr {
  margin: 0;
  color: var(--color-menu-border);
  //border-top: 2px solid;
}

/* RESPONSIVE */

.header, .name {
  display: none;
}

@media screen and (min-width: 992px) {
  .header {
    display: block;
  }

  .name {
    display: inline-block;
  }

  .item {
    padding: 15px 10px;
  }
}
