<nav>
  <div class="header">
    <span class="title">Sky Planner</span>
  </div>
  <div class="items">
    <!-- Constellations-->
    <div class="item">
      <span>Constellations</span>
    </div>
    <!-- Seasons -->
    <div class="item">
      <span>Seasons</span>
    </div>
    <!-- Traveling Spirits -->
    <div class="item">
      <span>Traveling Spirits</span>
    </div>
    <!-- Items -->
    <div class="item">
      <span>Items</span>
    </div>
    <!-- Realms -->
    <div class="item">
      <span>Realms</span>
    </div>
    <!-- Credits -->
    <div class="item" [routerLink]="'credits'">
      <span>Credits</span>
    </div>
  </div>
</nav>
