aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--menu-width);
  background-color: var(--color-item-background);
  z-index: 100;
}

.header {
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.header, .item {
  border-bottom: 1px solid var(--color-border-lowlight);
}

.items {
  position: relative;
  font-size: 18px;
}

.item {
  display: block;
  padding: 15px 10px;
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-item-background-highlight);
}

.item mat-icon {
  vertical-align: sub;
}

.item span {
  padding-left: 10px;
}


a:hover, a:focus, a:active, a:visited {
  color: unset;
}

/* RESPONSIVE */

.name {
  display: none;
}

@media screen and (min-width: 992px) {
  .name {
    display: inline-block;
  }
}
