<section class="atmos-page__quick-actions">
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/winged-light"><mat-icon svgIcon="flaps"></mat-icon> Winged Light</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/col"><mat-icon>light_mode</mat-icon> Children of Light</a>
  <a class="atmos-btn atmos-btn--sm" routerLinkActive="atmos-btn--active" routerLink="/wing-buff"><mat-icon>air</mat-icon> Wing buffs</a>
  <a class="atmos-btn atmos-btn--sm" href="https://sky-children-of-the-light.fandom.com/wiki/Winged_Light" target="_blank" rel="noopener">
    <mat-icon>menu_book</mat-icon> Wiki
  </a>
</section>
