<div style="margin-bottom: var(--atmos-gap)">
  Not quite sure what to do here? Please have a look at the wiki page
  <a href="https://github.com/Silverfeelin/SkyGame-Planner/wiki/Contributing---Items" target="_blank" class="atmos-text-link">Contributing: Items</a>.
</div>
@if (item) {
  <div class="atmos-card">
    <div class="atmos-card__header">Edit item</div>
    <div class="atmos-card__body">
      <app-editor-item [item]="item" (saved)="save($event)" (cancelled)="navigateBack()"></app-editor-item>
    </div>
  </div>
}
