.table-container {
  min-width: fit-content;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--padding-content-half);
  margin-top: calc(-1 * var(--padding-content-half));
  margin-bottom: calc(-1 * var(--padding-content-half));
}

td {
  background-color: var(--color-background);
}

th, tfoot td {
  background-color: var(--color-table-header-background);
}

th, td {
  padding: var(--padding-content);
  border-top: var(--border-solid);
  border-bottom: var(--border-solid);

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-left: var(--border-solid);
  }

  &:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-right: var(--border-solid);
  }
}

th, td {
  &.fit {
    width: 1px;
  }
}

.link {
  cursor: pointer;

  &:hover {
    color: var(--color-link-hover);
  }
}
