.btn-unlock {
  cursor: pointer;

  &:hover {
    color: var(--color-link-hover);
  }
}

.btn-unlock-disabled {
  cursor: default;
  color: var(--color-accent);
  &:hover { color: var(--color-accent); }
}
