<div class="sky-card p-rel" [class.highlight]="iap.guid === highlightIap">
  <div class="sky-card-header">
    <h3 class="h4" [ngbTooltip]="iap.name" container="body">
      {{ iap.name }}
    </h3>
  </div>
  <div class="sky-card-body">
    <!-- Returning -->
    <div class="item">
      <mat-icon class="menu-icon">{{ iap.returning ? 'undo' : 'grade' }}</mat-icon>
      <span class="menu-label">
        @if (iap.returning) {
          <span class="c-partial">Returning IAP</span>
        } @else {
          <span class="c-full">New IAP</span>
        }
      </span>
    </div>
    <!-- Location -->
    @if (shop) {
      <div class="mt-half item">
        <mat-icon class="menu-icon">location_on</mat-icon>
        <span class="menu-label">
          @if (shop.name) { <span>{{ shop.name }}</span> }
          @if (!shop.name && shop.type === 'Store') { <span>Premium Candle Store</span> }
          @if (!shop.name && shop.type !== 'Store') { <span>{{ shop.name ?? shop.spirit?.name }}</span> }
        </span>
      </div>
    }
    <!-- Price -->
    <div class="mt-half item">
      <mat-icon class="menu-icon">attach_money</mat-icon>
      <span class="menu-label" [ngbTooltip]="'Price of the IAP in USD.'" container="body">
        {{ iap.price }}
      </span>
    </div>
    <!-- Currencies -->
    @if (iap.c || iap.sc || iap.sp) {
      <div class="mt-half item">
        @if (iap.c) {
          <mat-icon class="menu-icon" svgIcon="candle" [ngbTooltip]="'Regular candles'" container="body" placement="right"></mat-icon>
          <span class="menu-label">
            {{ iap.c }}
          </span>
        }
        @if (iap.sc) {
          <mat-icon class="menu-icon" svgIcon="season-candle" [ngbTooltip]="'Season candles'" container="body" placement="right"></mat-icon>
          <span class="menu-label">
            {{ iap.sc }}
          </span>
        }
        @if (iap.sp) {
          <mat-icon class="menu-icon seasonal" svgIcon="gift" [ngbTooltip]="'Gift Season Pass'" container="body" placement="right"></mat-icon>
          <span class="menu-label">
            {{ iap.sp }}
          </span>
        }
      </div>
    }
    <!-- Bought -->
    <div class="mt-half ">
      <div class="item">
        <div class="sky-flex flex-wrap">
          <div class="btn-unlock d-inline-block" [class.btn-unlock-disabled]="!!otherIap" (click)="togglePurchased($event, iap)">
            <mat-icon class="menu-icon">{{ (otherIap ?? iap).bought ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
            <span class="menu-label">
              Bought
            </span>
          </div>
          <div class="btn-unlock d-inline-block" [class.btn-unlock-disabled]="!!otherIap" (click)="toggleGifted($event, iap)">
            <mat-icon class="menu-icon">{{ (otherIap ?? iap).gifted ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
            <span class="menu-label">
              Received
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Items -->
    <div class="mt-half item iap-items">
      @for (item of iap.items; track item.guid) {
        <a class="iap-item point d-inline-block p-rel" [routerLink]="['/item', item.guid]">
          <app-item-icon [item]="item" [iap]="iap" [subIcons]="['unlock']" [ngbTooltip]="itemHover" placement="bottom" container="body"></app-item-icon>
          <ng-template #itemHover>
            @if (item) { <span class="ws-nw">{{item.name}}</span> }
          </ng-template>
        </a>
      }
    </div>
  </div>
</div>
